.fdot-2013redesign * {
    font-family: Arial, Helvetica, San Serif !important;
    margin:0 !important; 
    padding:0 !important;
    border:0 !important;
}
.fdot-2013redesign p{
line-height: 1.4em !important;
}
.fdot-2013redesign a{
text-decoration:none !important;
color: #32557c !important;
}
/* begin header styles */
#header-2013redesign {
height:150px !important;
border-bottom: 10px #32557c solid !important;
padding-top: 10px !important;
padding-bottom: 0 !important;
background: white !important;
position:relative !important;
}
#logo-2013redesign {
float: left !important;
padding-left: 20px !important;
}
#tagline-2013redesign {
float: left !important;
padding-left: 30px !important;
padding-top: 30px !important;
width: 400px !important;
}
#tagline-2013redesign h5 {
font-size:1.4em !important;
color: #32557c !important;
width: 400px !important;
font-weight: bold !important;
background-color: white !important;
}
#tagline-2013redesign h1 {
font-size:2.5em !important;
color: #32557c !important;
width: 400px !important;
font-weight: bold !important;
background-color: white !important;
}
#tagline-2013redesign a{
color: #32557c !important;
}
#search-container-2013redesign{
float:right !important;
height: 97px !important;
position:relative !important;
top:11px !important;
right:10px !important;
}
#searchlinks-2013redesign
{
margin-right: 20px !important;
position: relative !important;
top:12px !important;
color: #32557c !important;
}
#searchlinks-2013redesign a
{
color: #32557c !important;
font-size:0.9em !important;
}
#search-2013redesign
{
position: relative !important;
color: #32557c !important;
margin: 18px 20px 20px 0 !important;
}
#q
{
width: 220px !important;
padding: 5px !important;
padding-right: 20px !important;
border: 1px solid #32557c !important;
font-size: 0.9em !important;
color: #32557c !important;
background-color: #e9eff6 !important;
}
#searchbutton-2013redesign
{
background-image: url('http://www.dot.state.fl.us/webtools_images/searcharrowblue.gif') !important;
background-repeat: no-repeat !important;
width: 20px !important;
height: 20px !important;
border: 0 !important;
position:relative !important;
top:9px !important;
}
/* Begin Navigation */
.nav-2013redesign
{
width: 805px !important;
height: 30px !important;
z-index: 99 !important;
overflow: hidden !important;
margin: 0 0 0 0 !important;
background-image: url('https://www.dot.state.fl.us/webtools_images/header_leftslant.gif') !important;
background-repeat: no-repeat !important;
background-color: #32557c !important;
position: absolute !important;
right:0 !important;
bottom:5px !important;
}
.nav-2013redesign ul
{
position:relative !important;
right:20px !important;
}
.nav-2013redesign li
{
float: right !important;
list-style: none !important;
margin-right: 3px !important;
}
.nav-2013redesign li a
{
display: block !important;
padding: 6px 11px !important;
color: white !important;
text-decoration: none !important;
}
.nav-2013redesign li a:hover
{
background-color: #D2D7E1 !important;
color: #32557c !important;
}
/* End Navigation */
#pagetitle-2013redesign {
float: left !important;
display:block !important;
width: 100% !important;
color: #32557c !important;
padding: 7px 0 7px 0 !important;
border-bottom: 10px #32557c solid !important;
margin-bottom: 20px !important;
background: white !important;
}
#pagetitle-2013redesign h4 {
color: #32557c !important;
font-size:x-large !important;
padding-left: 20px !important;
}
/* end header styles */
/* begin footer styles */
#footer-2013redesign {
margin: 0 auto !important;
background: #32557c !important;
width: 100% !important;
height: 160px !important;
background-color: #32557c !important;
border-top: 10px #32557c solid !important;
font-size: medium !important;
}
#navbottom-2013redesign {
height: 30px !important;
z-index: 99 !important;
position: relative !important;
background-color: white !important;
overflow:hidden !important;
text-align:center !important;
padding: 0 0 0 0 !important;
}
#navbottom-2013redesign li {
text-align:center !important;
list-style:none !important;
display:inline !important;
font-size: medium !important;
}
#navbottom-2013redesign li a {
padding: 6px 10px !important;
display:inline-block !important;
}
#navbottom-2013redesign li a:hover {
background-color: #D2D7E1 !important;
}
#SocialMediaIcons-2013redesign {
float:left;
padding: 40px 0 5px 20px !important;
}
#SocialMediaIcons-2013redesign a{
padding-right:5px !important;
}
#copyright-2013redesign {
padding-top: 5px !important;
font-size:small !important;
color: #D2D7E1 !important;
}
#footertag-2013redesign {
float: right !important;
padding:55px 20px 0 0 !important;
color: #D2D7E1 !important;
text-align:right !important;
}
#footertag-2013redesign h5 {
font-size: small !important;
color: #D2D7E1 !important;
text-align:right !important;
font-style:italic !important;
}
/* end footer styles */
.clear-2013redesign {
clear:both !important;
}
#searchbutton {
  background-image: url('http://www.dot.state.fl.us/webtools_images/searcharrowblue.gif') !important;
  background-repeat: no-repeat !important;
  width: 20px !important;
  height: 20px !important;
  border: 0px !important;
  position: relative !important;
}
