<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DiscoveryProxies" value=""/>
    <add key="HostAddress" value="interdev.dot.state.fl.us"/>
    <add key="vpn" value="true"/>
    <add key="environment" value="bjs"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
	  <add key="sendNotifications" value="true"/>
	  <add key="devDistributionGroup" value="jericho.meatball@gmail.com"/>
    <add key="distributionGroup" value="CO-DQEDIST@dot.state.fl.us"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<!--<system.net>
		<mailSettings>
			<smtp from="jericho.meatball@gmail.com">
				<network host="smtp.gmail.com" port="587" enableSsl="true" userName="jericho.meatball@gmail.com" password="51ickwi11y" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>-->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.co.dot.state.fl.us" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
