<div class="row" ng-show="payItemStructure.id > 0">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-3">
                <strong>
                    <a href="" ng-click="toggleDetail()">{{payItemStructure.structureId}}</a>
                </strong>
            </div>
            <div class="col-lg-9" ng-show="payItemStructure.showSummary">
                {{payItemStructure.title}}
            </div>    
        </div>
        <div class="row" ng-show="payItemStructure.showSummary">
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
    </div>
</div>
<div ng-hide="payItemStructure.showSummary">
    <div class="row" ng-show="payItemStructure.id > 0">
        <br/>
        <div class="col-lg-12">
            <tabset>
                <tab ng-repeat="tab in tabs" select="showTabContent(tab)" heading="{{tab.title}}"></tab>
            </tabset>
        </div>
    </div>
    <div ng-show="showStructureContent">
        <br />
        <div class="row">
            <div class="col-lg-1">
                Structure
            </div>
            <div class="col-lg-1">
                ID:
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">{{prefix}}</span>
                    <input type="text" class="form-control" ng-model="payItemStructure.filteredStructureId" maxlength="10" />    
                </div>
            </div>
            <div class="col-lg-2">
                Title:
            </div>
            <div class="col-lg-4">
                <input type="text" class="form-control" ng-model="payItemStructure.title" maxlength="255" />
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-1">
                Dates
            </div>
            <div class="col-lg-1">
                Effective:
            </div>
            <div class="col-lg-4">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="payItemStructure.effectiveDate" is-open="effectiveOpened" maxlength="10" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="effectiveOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-2">
                Unit & Secondary:
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <select class="form-control" ng-model="payItemStructure.primaryUnit">
                            <option value="0">--Select--</option>
                            <option value="1">AC</option>
                            <option value="2">AS</option>
                            <option value="3">CF</option>
                            <option value="4">CY</option>
                            <option value="5">DA</option>
                            <option value="6">DD</option>
                            <option value="7">EA</option>
                            <option value="8">ED</option>
                            <option value="9">GA</option>
                            <option value="10">GM</option>
                            <option value="11">HR</option>
                            <option value="12">LB</option>
                            <option value="13">LF</option>
                            <option value="14">LO</option>
                            <option value="15">LS</option>
                            <option value="16">LU</option>
                            <option value="17">MB</option>
                            <option value="18">MH</option>
                            <option value="19">MI</option>
                            <option value="20">MG</option>
                            <option value="21">MO</option>
                            <option value="22">NM</option>
                            <option value="23">PA</option>
                            <option value="24">PB</option>
                            <option value="25">PI</option>
                            <option value="26">PL</option>
                            <option value="27">PM</option>
                            <option value="28">PS</option>
                            <option value="29">PW</option>
                            <option value="30">SF</option>
                            <option value="31">SY</option>
                            <option value="32">TH</option>
                            <option value="33">TN</option>
                            <option value="34">YD</option>
                        </select>
                    </div>
                    <div class="col-lg-6" ng-show="payItemStructure.primaryUnit == 15">
                        <select class="form-control" ng-model="payItemStructure.secondaryUnit">
                            <option value="0">--Select--</option>
                            <option value="1">AC</option>
                            <option value="2">AS</option>
                            <option value="3">CF</option>
                            <option value="4">CY</option>
                            <option value="5">DA</option>
                            <option value="6">DD</option>
                            <option value="7">EA</option>
                            <option value="8">ED</option>
                            <option value="9">GA</option>
                            <option value="10">GM</option>
                            <option value="11">HR</option>
                            <option value="12">LB</option>
                            <option value="13">LF</option>
                            <option value="14">LO</option>
                            <option value="15">LS</option>
                            <option value="16">LU</option>
                            <option value="17">MB</option>
                            <option value="18">MH</option>
                            <option value="19">MI</option>
                            <option value="20">MG</option>
                            <option value="21">MO</option>
                            <option value="22">NM</option>
                            <option value="23">PA</option>
                            <option value="24">PB</option>
                            <option value="25">PI</option>
                            <option value="26">PL</option>
                            <option value="27">PM</option>
                            <option value="28">PS</option>
                            <option value="29">PW</option>
                            <option value="30">SF</option>
                            <option value="31">SY</option>
                            <option value="32">TH</option>
                            <option value="33">TN</option>
                            <option value="34">YD</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-1">
                Obsolete:
            </div>
            <div class="col-lg-4">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="payItemStructure.obsoleteDate" is-open="obsoleteOpened" maxlength="10" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="obsoleteOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-2">
                Accuracy:
            </div>
            <div class="col-lg-4">
                <select class="form-control" ng-model="payItemStructure.accuracy">
                    <option value="0">--Select--</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">Notes: <span class="text-muted">({{200-payItemStructure.notes.length}} Characters)</span></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <textarea class="form-control" ng-model="payItemStructure.notes" ng-trim="false" ng-maxlength="200"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        PPM Chapters:
                    </div>
                    <div class="col-lg-8">
                        <div ng-repeat="ppmChapter in payItemStructure.ppmChapters">
                            [<a href="" ng-click="removePpmChapter(ppmChapter)">Remove</a>]&nbsp;<a href="{{ppmChapter.webLink}}" target="_blank">{{ppmChapter.name}}</a>
                        </div>
                    </div>        
                </div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        New:
                    </div>
                    <div class="col-lg-8">
                        <input type="text" ng-model="newPpmChapter" typeahead-on-select="addPpmChapter(); newPpmChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PC', payItemStructure.ppmChapters)" typeahead-editable="false" class="form-control">
                    </div>    
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Standards:
                    </div>
                    <div class="col-lg-8">
                        <div ng-repeat="standard in payItemStructure.standards">
                            [<a href="" ng-click="removeStandard(standard)">Remove</a>]&nbsp;<a href="{{standard.webLink}}" target="_blank">{{standard.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                        
                    </div>
                    <div class="col-lg-2">
                        New:
                    </div>
                    <div class="col-lg-8">
                        <input type="text" ng-model="newStandard" typeahead-on-select="addStandard(); newStandard = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SD', payItemStructure.standards)" typeahead-editable="false" class="form-control">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Specifications:
                    </div>
                    <div class="col-lg-8">
                        <div ng-repeat="specification in payItemStructure.specifications">
                            [<a href="" ng-click="removeSpecification(specification)">Remove</a>]&nbsp;<a href="{{specification.webLink}}" target="_blank">{{specification.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        New:
                    </div>
                    <div class="col-lg-8">
                        <input type="text" ng-model="newSpecification" typeahead-on-select="addSpecification(); newSpecification = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SP', payItemStructure.specifications)" typeahead-editable="false" class="form-control">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Other:
                    </div>
                    <div class="col-lg-8">
                        <div ng-repeat="otherReference in payItemStructure.otherReferences">
                            [<a href="" ng-click="removeOtherReference(otherReference)">Remove</a>]&nbsp;<a href="{{otherReference.webLink}}" target="_blank">{{otherReference.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        New:
                    </div>
                    <div class="col-lg-8">
                        <input type="text" ng-model="newOtherReference" typeahead-on-select="addOtherReference(); newOtherReference = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'OR', payItemStructure.otherReferences)" typeahead-editable="false" class="form-control">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Prep & Doc Chapters:
                    </div>
                    <div class="col-lg-8">
                        <div ng-repeat="prepAndDocChapter in payItemStructure.prepAndDocChapters">
                            [<a href="" ng-click="removePrepAndDocChapter(prepAndDocChapter)">Remove</a>]&nbsp;<a href="{{prepAndDocChapter.webLink}}" target="_blank">{{prepAndDocChapter.name}}</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-2">
                        New:
                    </div>
                    <div class="col-lg-8">
                        <input type="text" ng-model="newPrepAndDocChapter" typeahead-on-select="addPrepAndDocChapter(); newPrepAndDocChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PD', payItemStructure.prepAndDocChapters)" typeahead-editable="false" class="form-control">
                    </div>
                </div>   
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        Plan Quantity?
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="payItemStructure.isPlanQuantity">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Do Not Bid?
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="payItemStructure.isDoNotBid">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        Fixed Price?
                    </div>
                    <div class="col-lg-8">
                        <select class="form-control" ng-model="payItemStructure.isFixedPrice">
                            <option value="False">No</option>
                            <option value="True">Yes</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructure.details.length}} Characters)</span></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <textarea class="form-control" ng-model="payItemStructure.details" ng-trim="false" style="height: 300px;"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">History:</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">Complete History for ESS: <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructure.essHistory.length}} Characters)</span></div></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                <textarea class="form-control" ng-model="payItemStructure.essHistory" ng-trim="false" style="height: 300px;"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">Recent Changes for BOE:</div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-1">Date:</div>
            <div class="col-lg-3">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="payItemStructure.boeRecentChangeDate" is-open="boeRecentChangeDateOpened" maxlength="10" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="boeRecentChangeDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-lg-7">
                <span class="text-muted">({{200-payItemStructure.BoeRecentChangeDescription.length}} Characters)</span>
                <textarea class="form-control" ng-model="payItemStructure.boeRecentChangeDescription" ng-trim="false"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">Structure: <span class="text-muted">({{5000-payItemStructure.structureDescription.length}} Characters)</span></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <textarea class="form-control" ng-model="payItemStructure.structureDescription" ng-trim="false" style="height: 300px;"></textarea>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary" ng-click="addPayItemStructure()">Submit</button>
            </div>
        </div>
        <br />
        <hr/>
        <br/>
    </div>
    <div ng-show="showItemsContent">
        <br />
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-11">
                
                <strong>
                    <a href="" ng-click="showPayItemContent()">{{payItemStructure.showItems ? 'Add New Item' : 'Show List'}}</a>    
                </strong>
                <br/>
                <br/>  
                <admin-pay-item ng-show="!payItemStructure.showItems" pay-item="newPayItem" pay-item-structure="payItemStructure"></admin-pay-item>
                <div class="row" ng-show="payItemStructure.showItems">
                    <div class="col-lg-3">
                        <strong>Pay Item Number</strong>
                    </div>
                    <div class="col-lg-3">
                        <strong>Unit of Measure</strong>
                    </div>
                    <div class="col-lg-3">
                        <strong>Valid Date</strong>
                    </div>
                    <div class="col-lg-3">
                        <strong>Obsolete Date</strong>
                    </div>
                    <hr/>
                </div>
                <admin-pay-item ng-show="payItemStructure.showItems" ng-repeat="payItem in payItemStructure.items" pay-item="payItem" pay-item-structure="payItemStructure"></admin-pay-item>       
            </div>
        </div>
        <br />
        <hr />
        <br />
    </div>
</div>
