<div class="row" ng-show="payItemStructure.id > 0">
    <div class="col-lg-3">
        <a href="" ng-click="toggleDetail()">{{payItemStructure.structureId}}</a>
    </div>
    <div class="col-lg-9" ng-show="payItemStructure.showSummary">
        {{payItemStructure.title}}
    </div>
</div>
<div ng-hide="payItemStructure.showSummary">
    <div class="row">
        <br />
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-2">
                    Structure
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-3">
                            ID:
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" ng-model="payItemStructure.structureId" maxlength="12" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Dates
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-3">
                            Effective:
                        </div>
                        <div class="col-lg-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructure.effectiveDate" is-open="effectiveOpened" maxlength="10" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="effectiveOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Obsolete:
                        </div>
                        <div class="col-lg-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructure.obsoleteDate" is-open="obsoleteOpened" maxlength="10" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="obsoleteOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            PPM Chapters:
                        </div>
                        <div class="col-lg-9">
                            <div ng-repeat="ppmChapter in payItemStructure.ppmChapters">
                                [<a href="" ng-click="removePpmChapter(ppmChapter)">Remove</a>]&nbsp;<a href="{{ppmChapter.webLink}}" target="_blank">{{ppmChapter.name}}</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">New:</div>
                        <div class="col-lg-9">
                            <input type="text" ng-model="newPpmChapter" typeahead-on-select="addPpmChapter(); newPpmChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PC', payItemStructure.ppmChapters)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">
                            Standards:
                        </div>
                        <div class="col-lg-9">
                            <div ng-repeat="standard in payItemStructure.standards">
                                [<a href="" ng-click="removeStandard(standard)">Remove</a>]&nbsp;<a href="{{standard.webLink}}" target="_blank">{{standard.name}}</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">New:</div>
                        <div class="col-lg-9">
                            <input type="text" ng-model="newStandard" typeahead-on-select="addStandard(); newStandard = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SD', payItemStructure.standards)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Specifications:
                        </div>
                        <div class="col-lg-9">
                            <div ng-repeat="specification in payItemStructure.specifications">
                                [<a href="" ng-click="removeSpecification(specification)">Remove</a>]&nbsp;<a href="{{specification.webLink}}" target="_blank">{{specification.name}}</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">New:</div>
                        <div class="col-lg-9">
                            <input type="text" ng-model="newSpecification" typeahead-on-select="addSpecification(); newSpecification = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SP', payItemStructure.specifications)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Other:
                        </div>
                        <div class="col-lg-9">
                            <div ng-repeat="otherReference in payItemStructure.otherReferences">
                                [<a href="" ng-click="removeOtherReference(otherReference)">Remove</a>]&nbsp;<a href="{{otherReference.webLink}}" target="_blank">{{otherReference.name}}</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">New:</div>
                        <div class="col-lg-9">
                            <input type="text" ng-model="newOtherReference" typeahead-on-select="addOtherReference(); newOtherReference = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'OR', payItemStructure.otherReferences)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-3">
                            Prep & Doc Chapters:
                        </div>
                        <div class="col-lg-9">
                            <div ng-repeat="prepAndDocChapter in payItemStructure.prepAndDocChapters">
                                [<a href="" ng-click="removePrepAndDocChapter(prepAndDocChapter)">Remove</a>]&nbsp;<a href="{{prepAndDocChapter.webLink}}" target="_blank">{{prepAndDocChapter.name}}</a>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">New:</div>
                        <div class="col-lg-9">
                            <input type="text" ng-model="newPrepAndDocChapter" typeahead-on-select="addPrepAndDocChapter(); newPrepAndDocChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PD', payItemStructure.prepAndDocChapters)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-2">
                    Title:
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="payItemStructure.title" maxlength="255" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Unit & Secondary:
                </div>
                <div class="col-lg-5">
                    <select class="form-control" ng-model="payItemStructure.primaryUnit">
                        <option value="0">--Select--</option>
                        <option value="1">Acre</option>
                        <option value="2">Assembly</option>
                        <option value="3">Cubic Foot</option>
                        <option value="4">Cubic Yard</option>
                        <option value="5">Day</option>
                        <option value="6">Dollars per Day</option>
                        <option value="7">Each</option>
                        <option value="8">Each Day</option>
                        <option value="9">Gallon</option>
                        <option value="10">Gross Mile</option>
                        <option value="11">Hour</option>
                        <option value="12">Pound</option>
                        <option value="13">Foot</option>
                        <option value="14">Location</option>
                        <option value="15">Lump Sum</option>
                        <option value="16">Luminaire</option>
                        <option value="17">Thou Board Measure</option>
                        <option value="18">Man Hour</option>
                        <option value="19">Mile</option>
                        <option value="20">Thou Gallons</option>
                        <option value="21">Month</option>
                        <option value="22">Net Mile</option>
                        <option value="23">Per Analysis</option>
                        <option value="24">Per Building</option>
                        <option value="25">Per Intersection</option>
                        <option value="26">Plant</option>
                        <option value="27">Per Mile</option>
                        <option value="28">Per Set</option>
                        <option value="29">Per Well</option>
                        <option value="30">Square Foot</option>
                        <option value="31">Square Yard</option>
                        <option value="32">Therms</option>
                        <option value="33">Ton</option>
                        <option value="34">Yard</option>
                    </select>
                </div>
                <div class="col-lg-5" ng-show="payItemStructure.primaryUnit == 15">
                    <select class="form-control" ng-model="payItemStructure.secondaryUnit">
                        <option value="0">--Select--</option>
                        <option value="1">Acre</option>
                        <option value="2">Day</option>
                        <option value="3">Each</option>
                        <option value="4">Pound</option>
                        <option value="5">Foot</option>
                        <option value="6">Lump Sum</option>
                        <option value="7">Square Foot</option>
                        <option value="8">Ton</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Accuracy:
                </div>
                <div class="col-lg-5">
                    <select class="form-control" ng-model="payItemStructure.accuracy">
                        <option value="0">--Select--</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Plan Quantity?
                </div>
                <div class="col-lg-3">
                    <select class="form-control" ng-model="payItemStructure.isPlanQuantity">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Do Not Bid?
                </div>
                <div class="col-lg-3">
                    <select class="form-control" ng-model="payItemStructure.isDoNotBid">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Fixed Price?
                </div>
                <div class="col-lg-3">
                    <select class="form-control" ng-model="payItemStructure.isFixedPrice">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row" ng-show="payItemStructure.isFixedPrice == 'True'">
                <div class="col-lg-2">
                    Fixed Amount:
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" ng-model="payItemStructure.fixedAmount" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">Notes: <span class="text-muted">({{200-payItemStructure.notes.length}} Characters)</span></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control" ng-model="payItemStructure.notes" ng-trim="false" ng-maxlength="200"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructure.details.length}} Characters)</span></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control" ng-model="payItemStructure.details" ng-trim="false" style="height: 300px;"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">History:</div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">Complete History for ESS: <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructure.essHistory.length}} Characters)</span></div></div>
    </div>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <textarea class="form-control" ng-model="payItemStructure.essHistory" ng-trim="false" style="height: 300px;"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">Recent Changes for BOE:</div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-1">Date:</div>
        <div class="col-lg-3">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructure.boeRecentChangeDate" is-open="boeRecentChangeDateOpened" maxlength="10" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="boeRecentChangeDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="col-lg-7">
            <span class="text-muted">({{200-payItemStructure.BoeRecentChangeDescription.length}} Characters)</span>
            <textarea class="form-control" ng-model="payItemStructure.boeRecentChangeDescription" ng-trim="false"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">Structure: <span class="text-muted">({{5000-payItemStructure.structureDescription.length}} Characters)</span></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <textarea class="form-control" ng-model="payItemStructure.structureDescription" ng-trim="false" style="height: 300px;"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="addPayItemStructure()">Submit</button>
        </div>
    </div>
    <br/>
</div>
