<div ng-show="estimate != undefined && estimate != null">
    <div id="pricingTop"></div>
    <div class="row" ng-if="!estimate.canEstimate">
        <div class="col-lg-12">
            <div ng-if="pricingLevel == 'project'" class="alert alert-danger">
                <strong>
                    ERROR: To price a project, you must have security authorization, custody, and a working estimate.
                </strong>
            </div>
            <div ng-if="pricingLevel == 'proposal'" class="alert alert-danger">
                <strong>
                    ERROR: To price a Proposal, you must have security authorization, custody, and a synchronized working estimate for each project.
                </strong>
            </div>
        </div>
    </div>
    <div ng-if="estimate.canEstimate">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 ng-if="pricingLevel == 'project'">
                                    Project:&nbsp;{{estimate.project.number}}
                                </h4>
                                <h4 ng-if="pricingLevel == 'proposal'">
                                    Proposal:&nbsp;{{estimate.proposal.number}}
                                </h4>
                            </div>
                            <div class="col-lg-6">
                                <div style="text-align: right;">
                                    <h4>
                                        Estimate Total: &nbsp;{{estimate.total.Total | currency}}
                                    </h4>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <td style="width: 15%; text-align: center;">Included in Estimate</td>
                                            <td style="width: 15%; text-align: center;">Category Alternate Set</td>
                                            <td style="width: 15%; text-align: center;">Category Alternate Member</td>
                                            <td style="width: 15%; text-align: center;">Item Alternate Set</td>
                                            <td style="width: 15%; text-align: center;">Item Alternate Member</td>
                                            <td style="width: 25%; text-align: center;">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in estimateSummary | orderBy:['categorySet', 'categoryMember', 'itemSet', 'itemMember']" ng-class="item.included ? 'alert-warning' : ''">
                                            <td style="text-align: center;">
                                                <span class="text-success glyphicon glyphicon-ok" ng-show="item.included"></span>
                                            </td>
                                            <td style="text-align: center;">{{item.categorySet}}</td>
                                            <td style="text-align: center;">{{item.categoryMember}}</td>
                                            <td style="text-align: center;">{{item.itemSet}}</td>
                                            <td style="text-align: center;">{{item.itemMember}}</td>
                                            <td style="text-align: right;">{{item.total | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
                <!--<button type="button" class="btn btn-default" title="Click to show/hide the bid history pricing parameters" ng-show="!confirmSetBestPrices && !estimate.isOfficial" ng-click="showOtherParms = !showOtherParms">{{showOtherParms ? 'Hide' : 'Show'}}&nbsp;Pricing Parameters</button>&nbsp;&nbsp;-->
                
                <button type="button" class="btn btn-primary" title="Click to set default prices (reference, county, market area, or state average) for the selected items" ng-disabled="!canSaveEstimate" focus-me="confirmSetBestPricesReset" ng-show="!confirmSetBestPrices && !estimate.isOfficial" ng-click="confirmSetBestPrices = true; confirmSetBestPricesReset = false;">Apply Default Prices</button>
                <span class="alert alert-warning" ng-show="confirmSetBestPrices">
                    Click 'Yes' to set the default prices for all selected items or 'No' to cancel&nbsp;&nbsp;
                    <button type="button" class="btn btn-default" title="Click to cancel the set of default prices" focus-me="confirmSetBestPrices" ng-click="confirmSetBestPrices = false; confirmSetBestPricesReset = true;">No</button>
                    <button type="button" class="btn btn-default" title="Click to confirm the set of default prices" ng-click="setBestPrices(); confirmSetBestPrices = false; confirmSetBestPricesReset = true;">Yes</button>
                </span>
            </div>
            <div class="col-lg-6">
                <div class="text-right">
                    <span style="color: red; font-weight: bold;" ng-show="estimate.hasPendingChanges">
                        WARNING: Estimate has pending changes!&nbsp;&nbsp;
                    </span>
                    <button type="button" class="btn btn-primary" title="Click to save the current estimate" ng-show="!estimate.isOfficial" ng-disabled="!canSaveEstimate" ng-click="saveEstimate(true)">Save Estimate</button>    
                </div>
            </div>
        </div> 
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{pricingLevel == 'project' ? 'Project ' : 'Proposal '}}Pricing</strong>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4" style="font-size: 8pt;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="" title="show/hide basic parameters" ng-click="showBasicParameters = undefined ? showBasicParameters = true : showBasicParameters = !showBasicParameters">
                                            <strong>
                                                <i class="glyphicon glyphicon-plus" ng-show="!showBasicParameters"></i>
                                                <i class="glyphicon glyphicon-minus" ng-show="showBasicParameters"></i>
                                                Basic Parameters
                                            </strong>
                                        </a>
                                    </div>
                                    <div class="panel-body" ng-show="showBasicParameters">
                                        <div>
                                            <label>
                                                <input title="Construction only" type="radio" ng-model="contractType" value="construction" /> Construction Only Contracts
                                            </label>
                                            &nbsp;&nbsp;
                                            <label>
                                                <input title="All" type="radio" ng-model="contractType" value="all" /> All Contract Types
                                            </label>
                                        </div>
                                        <hr />
                                        <div>
                                            <div>
                                                <strong>Months of Bid History</strong>
                                            </div>
                                            <div style="width: 110px;">
                                                <select class="form-control" style="width: 100px;" ng-model='parmSet.bidMonths' ng-options='n as n for n in monthRange'>{{n}}</select>
                                            </div>
                                        </div>
                                        <hr />
                                        <div>
                                            <label>
                                                <input title="Use Straight Average" type="checkbox" ng-model="parmSet.useStraightAverage"> Use Straight Average
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="font-size: 8pt;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="" title="show/hide work type parameters" ng-click="showWorkTypeParameters = undefined ? showWorkTypeParameters = true : showWorkTypeParameters = !showWorkTypeParameters">
                                            <strong>
                                                <i class="glyphicon glyphicon-plus" ng-show="!showWorkTypeParameters"></i>
                                                <i class="glyphicon glyphicon-minus" ng-show="showWorkTypeParameters"></i>
                                                Work Type Parameters
                                            </strong>
                                        </a>
                                    </div>
                                    <div class="panel-body" ng-show="showWorkTypeParameters">
                                        <div ng-repeat="workType in workTypes | orderBy: 'code'">
                                            <label>
                                                <input title="({{workType.code}}) {{workType.name}}" type="checkbox" ng-model="workType.include" /> ({{workType.code}})&nbsp;{{workType.name}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4" style="font-size: 8pt;">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a href="" title="show/hide market area parameters" ng-click="showMarketAreaParameters = undefined ? showMarketAreaParameters = true : showMarketAreaParameters = !showMarketAreaParameters">
                                            <strong>
                                                <i class="glyphicon glyphicon-plus" ng-show="!showMarketAreaParameters"></i>
                                                <i class="glyphicon glyphicon-minus" ng-show="showMarketAreaParameters"></i>
                                                Market Area Parameters
                                            </strong>
                                        </a>
                                    </div>
                                    <div class="panel-body" ng-show="showMarketAreaParameters">
                                        <div ng-repeat="marketArea in marketAreas.marketAreas">
                                            <label>
                                                <input type="checkbox" title="{{marketArea.name}}" ng-model="marketArea.include" ng-change="selectMarketArea(marketArea, null)">
                                                <a href="" title="Show/hide the counties associated to the market area" ng-click="marketArea.showCounties = !marketArea.showCounties">{{marketArea.name}}{{partialMarketAreaSelected(marketArea) ? ' - (Partial)' : ''}}</a>
                                            </label>
                                            <br />
                                            <span ng-show="marketArea.showCounties">
                                                <span style="margin-left: 10px;" ng-repeat="county in marketArea.counties">
                                                    <label>
                                                        <input type="checkbox" title="{{county.name}}" ng-change="setMarketAreaSelection(marketArea, null)" ng-model="county.include"> {{county.name}}
                                                    </label>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align: right;">
                                <button type="button" class="btn btn-default" title="save parameters" ng-click="saveMasterParameters()">Save Parameters</button>    
                                <button type="button" class="btn btn-primary" title="Click to set the parameter based prices for the selected items" ng-disabled="!canSaveEstimate" ng-show="!confirmSetParameterPrices && !estimate.isOfficial" focus-me="confirmSetParameterPricesReset" ng-click="confirmSetParameterPrices = true; confirmSetParameterPricesReset = false;">Apply Parameter Prices</button>
                                <span class="alert alert-warning" ng-show="confirmSetParameterPrices" style="font-size: 10pt; margin-top: 10px;">
                                    Click 'Yes' to set the parameter-based historical prices for all selected items or 'No' to cancel&nbsp;&nbsp;
                                    <button type="button" class="btn btn-default" title="Click to cancel the setting of parameter based prices" focus-me="confirmSetParameterPrices" ng-click="confirmSetParameterPrices = false; confirmSetParameterPricesReset = true;">No</button>
                                    <button type="button" class="btn btn-default" title="Click to confirm the setting of parameter based prices" ng-click="generateParameterPrices(); confirmSetParameterPrices = false; confirmSetParameterPricesReset = true;">Yes</button>
                                </span>  
                            </div>
                        </div>     
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
                Current Page: {{currentPage + 1}}
                <br/>
                <button type="button" title="Click to go to page {{$index + 1}}" class="btn btn-sm btn-default" style="width: 40px; margin-bottom: 5px; margin-right: 2px;" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
                    {{$index + 1}}
                </button>
            </div>
            <div class="col-lg-1">
                <div style="text-align: right; padding-right: 3px;" ng-show="scrollPosition != undefined && scrollPosition != null && scrollPosition > 0">
                    <a href="" class="btn btn-default btn-lg" ng-click="showOtherParms = false; goToLastScrollPosition();" title="click to go back to last position set from scroll to top">
                        <i class="glyphicon glyphicon-arrow-down"></i>
                    </a>
                </div>        
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div style="overflow-x: auto; width:100%">
                    <table class="table table-bordered table-condensed table-hover {{$storage.fontSize == 'S' ? 'dqeSmallFont' : $storage.fontSize == 'M' ? 'dqeMediumFont' : 'dqeLargeFont'}}">
                        <thead>
                            <tr>
                                <td style="text-align: center;"><input type="checkbox" ng-model="$storage.showNonVisibleColumns" title="show/hide non-visible columns" /></td>
                                <td></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryColumn"><input type="checkbox" ng-model="visibleColumns.showCategoryColumn" title="show/hide category column" ng-change="$storage.visibleColumns.showCategoryColumn = !$storage.visibleColumns.showCategoryColumn; visibleColumns.showCategoryColumn = $storage.visibleColumns.showCategoryColumn" /></td>
                                <td style="text-align: center;" ng-if="pricingLevel == 'proposal'" ng-show="$storage.showNonVisibleColumns || visibleColumns.showProjectColumn"><input type="checkbox" ng-model="visibleColumns.showProjectColumn" ng-change="$storage.visibleColumns.showProjectColumn = !$storage.visibleColumns.showProjectColumn; visibleColumns.showProjectColumn = $storage.visibleColumns.showProjectColumn" title="show/hide project column" /></td>
                                <td></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showObsoleteColumn"><input type="checkbox" ng-model="visibleColumns.showObsoleteColumn" ng-change="$storage.visibleColumns.showObsoleteColumn = !$storage.visibleColumns.showObsoleteColumn; visibleColumns.showObsoleteColumn = $storage.visibleColumns.showObsoleteColumn" title="show/hide obsolete column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemDescriptionColumn"><input type="checkbox" ng-model="visibleColumns.showItemDescriptionColumn" ng-change="$storage.visibleColumns.showItemDescriptionColumn = !$storage.visibleColumns.showItemDescriptionColumn; visibleColumns.showItemDescriptionColumn = $storage.visibleColumns.showItemDescriptionColumn" title="show/hide item description column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showSupplementalDescriptionColumn"><input type="checkbox" ng-model="visibleColumns.showSupplementalDescriptionColumn" ng-change="$storage.visibleColumns.showSupplementalDescriptionColumn = !$storage.visibleColumns.showSupplementalDescriptionColumn; visibleColumns.showSupplementalDescriptionColumn = $storage.visibleColumns.showSupplementalDescriptionColumn" title="show/hide supplemental description column" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showPreviousPriceColumn"><input type="checkbox" ng-model="visibleColumns.showPreviousPriceColumn" ng-change="$storage.visibleColumns.showPreviousPriceColumn = !$storage.visibleColumns.showPreviousPriceColumn; visibleColumns.showPreviousPriceColumn = $storage.visibleColumns.showPreviousPriceColumn" title="show/hide previous price column" /></td>
                                <td style="min-width: 45px;"></td>
                                <td></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showFundColumn"><input type="checkbox" ng-model="visibleColumns.showFundColumn" ng-change="$storage.visibleColumns.showFundColumn = !$storage.visibleColumns.showFundColumn; visibleColumns.showFundColumn = $storage.visibleColumns.showFundColumn" title="show/hide fund column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineCategoriesColumn"><input type="checkbox" ng-model="visibleColumns.showCombineCategoriesColumn" ng-change="$storage.visibleColumns.showCombineCategoriesColumn = !$storage.visibleColumns.showCombineCategoriesColumn; visibleColumns.showCombineCategoriesColumn = $storage.visibleColumns.showCombineCategoriesColumn" title="show/hide combine categories column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineItemsColumn"><input type="checkbox" ng-model="visibleColumns.showCombineItemsColumn" ng-change="$storage.visibleColumns.showCombineItemsColumn = !$storage.visibleColumns.showCombineItemsColumn; visibleColumns.showCombineItemsColumn = $storage.visibleColumns.showCombineItemsColumn" title="show/hide combine items column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateSetColumn"><input type="checkbox" ng-model="visibleColumns.showCategoryAlternateSetColumn" ng-change="$storage.visibleColumns.showCategoryAlternateSetColumn = !$storage.visibleColumns.showCategoryAlternateSetColumn; visibleColumns.showCategoryAlternateSetColumn = $storage.visibleColumns.showCategoryAlternateSetColumn" title="show/hide category alternate set column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateMemberColumn"><input type="checkbox" ng-model="visibleColumns.showCategoryAlternateMemberColumn" ng-change="$storage.visibleColumns.showCategoryAlternateMemberColumn = !$storage.visibleColumns.showCategoryAlternateMemberColumn; visibleColumns.showCategoryAlternateMemberColumn = $storage.visibleColumns.showCategoryAlternateMemberColumn" title="show/hide category alternate member column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateSetColumn"><input type="checkbox" ng-model="visibleColumns.showItemAlternateSetColumn" ng-change="$storage.visibleColumns.showItemAlternateSetColumn = !$storage.visibleColumns.showItemAlternateSetColumn; visibleColumns.showItemAlternateSetColumn = $storage.visibleColumns.showItemAlternateSetColumn" title="show/hide item alternate set column" /></td>
                                <td style="text-align: center;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateMemberColumn"><input type="checkbox" ng-model="visibleColumns.showItemAlternateMemberColumn" ng-change="$storage.visibleColumns.showItemAlternateMemberColumn = !$storage.visibleColumns.showItemAlternateMemberColumn; visibleColumns.showItemAlternateMemberColumn = $storage.visibleColumns.showItemAlternateMemberColumn" title="show/hide item alternate member column" /></td>
                            </tr>
                            <tr>
                                <td>
                                    Font Size
                                    <select class="form-control" ng-model="$storage.fontSize" style="width: 80px;" title="set the default font size for the pricing grid">
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                    </select>
                                </td>
                                <td></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryColumn"><a ng-show="visibleColumns.showCategoryColumn" href="" title="Sort ascending/descending by category" ng-click="sortItems('federalConstructionClass')">Category</a></td>
                                <td ng-if="pricingLevel == 'proposal'" ng-show="$storage.showNonVisibleColumns || visibleColumns.showProjectColumn"><a ng-show="visibleColumns.showProjectColumn" href="" title="Sort ascending/descending by project" ng-click="sortItems('projectNumber')">Project</a></td>
                                <td><a href="" title="Sort ascending/descending by item" ng-click="sortItems('itemNumber')">Item</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showObsoleteColumn"><a href="" title="Sort ascending/descending by obsolete" ng-show="visibleColumns.showObsoleteColumn" ng-click="sortItems('isObsolete')">Obsolete</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemDescriptionColumn"><a ng-show="visibleColumns.showItemDescriptionColumn" href="" title="Sort ascending/descending by item description" ng-click="sortItems('itemDescription')">Item Description</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showSupplementalDescriptionColumn"><a ng-show="visibleColumns.showSupplementalDescriptionColumn" href="" title="Sort ascending/descending by supplemental description" ng-click="sortItems('supplementalDescription')">Supplemental Description</a></td>
                                <td><a href="" title="Sort ascending/descending by unit of measure" ng-click="sortItems('unit')">Unit of Measure</a></td>
                                <td><a href="" title="Sort ascending/descending by quantity" ng-click="sortItems('quantity')">Quantity</a></td>
                                <td><a href="" title="Sort ascending/descending by price" ng-click="sortItems('price')">Price</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showPreviousPriceColumn"><span ng-show="visibleColumns.showPreviousPriceColumn">Previous Price</span></td>
                                <!--<td><a ng-show="visibleColumns.showPreviousPriceColumn" href="" title="Sort ascending/descending by previous price" ng-click="sortItems('previousPrice')">Previous Price</a></td>-->
                                <td><a href="" title="Sort ascending/descending by price type" ng-click="sortItems('priceType')">Price Type</a></td>
                                <td><a href="" title="Sort ascending/descending by total extended amount" ng-click="sortItems('price * quantity')">Total</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showFundColumn"><a ng-show="visibleColumns.showFundColumn" href="" title="Sort ascending/descending by fund" ng-click="sortItems('fund')">Fund</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineCategoriesColumn"><a ng-show="visibleColumns.showCombineCategoriesColumn" href="" title="Sort ascending/descending by the combine categories flag" ng-click="sortItems('combineCategories')">Combine Categories</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineItemsColumn"><a ng-show="visibleColumns.showCombineItemsColumn" href="" title="Sort ascending/descending by the combine items flag" ng-click="sortItems('combineItems')">Combine Items</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateSetColumn"><a ng-show="visibleColumns.showCategoryAlternateSetColumn" href="" title="Sort ascending/descending by category alternate set" ng-click="sortItems('categoryAlternateSet')">Category Alternate Set</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateMemberColumn"><a ng-show="visibleColumns.showCategoryAlternateMemberColumn" href="" title="Sort ascending/descending by category alternate member" ng-click="sortItems('categoryAlternateMember')">Category Alternate Member</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateSetColumn"><a ng-show="visibleColumns.showItemAlternateSetColumn" href="" title="Sort ascending/descending by item alternate set" ng-click="sortItems('itemAlternateSet')">Item Alternate Set</a></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateMemberColumn"><a ng-show="visibleColumns.showItemAlternateMemberColumn" href="" title="Sort ascending/descending by item alternate member" ng-click="sortItems('itemAlternateMember')">Item Alternate Member</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="pricingLevel == 'project'" colspan="20">
                                    Filters:&nbsp;&nbsp;
                                    <a href="" title="Click to apply the current specified filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                                    <a href="" title="Click to remove all current filters" ng-click="clearAllFilters()">Clear</a>
                                </td>
                                <td ng-if="pricingLevel == 'proposal'" colspan="21">
                                    Filters:&nbsp;&nbsp;
                                    <a href="" title="Click to apply the current specified filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                                    <a href="" title="Click to remove all current filters" ng-click="clearAllFilters()">Clear</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" title="Click to select the current filtered set of items for processing" ng-show="canSaveEstimate" ng-click="selectItems()">Select</a>
                                    <br />
                                    <br />
                                    <a href="" title="Click to deselect the current filtered set of items" ng-show="canSaveEstimate" ng-click="deselectItems()">Deselect</a>
                                </td>
                                <td></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showCategoryColumn" title="Filter federal construction class" class="form-control" ng-model="filter.federalConstructionClass"></td>
                                <td ng-if="pricingLevel == 'proposal'" ng-show="$storage.showNonVisibleColumns || visibleColumns.showProjectColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showProjectColumn" class="form-control" title="Filter project number" ng-model="filter.projectNumber"></td>
                                <td><input style="font-size: 8pt;" title="Filter item number" class="form-control" ng-model="filter.itemNumber"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showObsoleteColumn"><input style="font-size: 8pt;" maxlength="1" ng-show="visibleColumns.showObsoleteColumn" title="Filter obsolete" class="form-control" ng-model="filter.isObsolete"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemDescriptionColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showItemDescriptionColumn" title="Filter item description" class="form-control" ng-model="filter.itemDescription"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showSupplementalDescriptionColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showSupplementalDescriptionColumn" title="Filter supplemental description" class="form-control" ng-model="filter.supplementalDescription"></td>
                                <td><input style="font-size: 8pt;" title="Filter unit" class="form-control" ng-model="filter.unit"></td>
                                <td></td>
                                <td style="width: 150px;"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showPreviousPriceColumn"></td>
                                <td><input style="font-size: 8pt;" maxlength="1" title="Filter price type" class="form-control" ng-model="filter.priceType"></td>
                                <td></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showFundColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showFundColumn" title="Filter fund" class="form-control" ng-model="filter.fund"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineCategoriesColumn"><input style="font-size: 8pt;" maxlength="1" ng-show="visibleColumns.showCombineCategoriesColumn" title="Filter combine categories" class="form-control" ng-model="filter.combineCategories"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCombineItemsColumn"><input style="font-size: 8pt;" maxlength="1" ng-show="visibleColumns.showCombineItemsColumn" title="Filter combine items" class="form-control" ng-model="filter.combineItems"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateSetColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showCategoryAlternateSetColumn" title="Filter category alternate set" class="form-control" ng-model="filter.categoryAlternateSet"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateMemberColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showCategoryAlternateMemberColumn" title="Filter category alternate member" class="form-control" ng-model="filter.categoryAlternateMember"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateSetColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showItemAlternateSetColumn" title="Filter item alternate set" class="form-control" ng-model="filter.itemAlternateSet"></td>
                                <td ng-show="$storage.showNonVisibleColumns || visibleColumns.showItemAlternateMemberColumn"><input style="font-size: 8pt;" ng-show="visibleColumns.showItemAlternateMemberColumn" title="Filter item alternate member" class="form-control" ng-model="filter.itemAlternateMember"></td>
                            </tr>
                            <tr>
                                <td ng-if="pricingLevel == 'project'" colspan="20">Items:</td>
                                <td ng-if="pricingLevel == 'proposal'" colspan="21">Items:</td>
                            </tr>
                            <tr ng-repeat-start="itemGroup in filteredItems | startFrom: currentPage * pageSize  | limitTo:pageSize" ng-show="itemGroup.group || (!itemGroup.group && itemGroup.isExpanded)">
                                <td colspan="2" ng-show="!itemGroup.group"></td>
                                <td ng-show="itemGroup.group">
                                    <label>
                                        <input title="Select item" type="checkbox" ng-disabled="!canSaveEstimate" ng-model="itemGroup.selected">
                                    </label>
                                </td>
                                <td ng-show="itemGroup.group">
                                    <a href="" title="Click to expand/collapse the item group" ng-show="itemGroup.canExpand" ng-click="toggleGroup(itemGroup)">
                                        <span ng-show="!itemGroup.isExpanded" class="glyphicon glyphicon-plus"></span>
                                        <span ng-show="itemGroup.isExpanded" class="glyphicon glyphicon-minus"></span>
                                    </a>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryColumn)">
                                    <span ng-show="visibleColumns.showCategoryColumn">
                                        {{itemGroup.federalConstructionClass}}&nbsp;{{itemGroup.categoryDescription}}
                                    </span>
                                </td>
                                <td ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryColumn)">
                                    <span ng-show="visibleColumns.showCategoryColumn">
                                        {{itemGroup.itemCategory}}
                                    </span>
                                </td>
                                <td ng-if="pricingLevel == 'proposal'" ng-show="$storage.showNonVisibleColumns || visibleColumns.showProjectColumn">
                                    <span ng-show="visibleColumns.showProjectColumn">
                                        {{itemGroup.itemProjectNumber}}
                                    </span>
                                </td>
                                
                                <td ng-show="!itemGroup.group" style="border-right-style: none;"></td>
                                <td ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showObsoleteColumn)" style="border-right-style: none; border-left-style: none;"></td>
                                <td ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemDescriptionColumn)" style="border-right-style: none; border-left-style: none;"></td>
                                <td ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showSupplementalDescriptionColumn)" style="border-right-style: none; border-left-style: none;"></td>
                                <td ng-show="!itemGroup.group" style="border-left-style: none;"></td>
                                

                                <td ng-show="itemGroup.group">
                                    <a href="" title="filter this item number" ng-click="filterItem(itemGroup.itemNumber)">
                                        <pre>{{itemGroup.itemNumber}}</pre>
                                    </a>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showObsoleteColumn)" style="text-align: center;">
                                    <span ng-show="visibleColumns.showObsoleteColumn" style="font-size: 14pt;">
                                        {{itemGroup.isObsolete ? '*' : ''}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemDescriptionColumn)">
                                    <span ng-show="visibleColumns.showItemDescriptionColumn">
                                        {{itemGroup.itemDescription}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showSupplementalDescriptionColumn)">
                                    <span ng-show="visibleColumns.showSupplementalDescriptionColumn">
                                        {{itemGroup.supplementalDescription}}
                                    </span>
                                </td>

                                <td ng-show="itemGroup.group">{{itemGroup.unit}}</td>
                                <!--<td ng-show="!itemGroup.group"></td>-->
                                <td style="text-align: right;">{{itemGroup.quantity}}</td>
                                <td style="text-align: right;" ng-show="!itemGroup.group">{{itemGroup.price | currency}}</td>
                                <td ng-show="itemGroup.group">
                                    <div class="input-group" ng-show="!itemGroup.isFixedPrice && !estimate.isOfficial" style="margin-bottom: 5px;">
                                        <input title="Enter price" type="text" class="form-control" style="width:120px; text-align: right;" ng-readonly="itemGroup.asyncPricing" ng-model="itemGroup.price" ng-change="calculateTotals(itemGroup, 'O'); setPendingChanges();" select-on-click format="number" />
                                        <div class="input-group-btn">
                                            <button type="button" title="Click to show available default prices" class="btn btn-default dropdown-toggle" ng-disabled="itemGroup.asyncPricing" ng-click="showPriceOptions(itemGroup)"><span class="caret"></span></button>
                                            <ul class="price-dropdown-menu dropdown-menu-right price-combo text-right" role="menu" ng-show="itemGroup.showPriceOptions">
                                                <li><a href="" title="Click to select the statewide average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setStatewidePrice(itemGroup)">{{itemGroup.statewidePrice | currency}} <strong>S</strong></a></li>
                                                <li><a href="" title="Click to select the market area average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setMarketAreaPrice(itemGroup)">{{itemGroup.marketAreaPrice | currency}} <strong>M</strong></a></li>
                                                <li><a href="" title="Click to select the county average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setCountyPrice(itemGroup)">{{itemGroup.countyPrice | currency}} <strong>C</strong></a></li>
                                                <li><a href="" title="Click to select the reference price for the item" ng-show="!itemGroup.isFixedPrice && itemGroup.statewidePrice == 0 && itemGroup.marketAreaPrice == 0 && itemGroup.countyPrice == 0" ng-click="setReferencePrice(itemGroup)">{{itemGroup.referencePrice | currency}} <strong>R</strong></a></li>
                                                <li><a href="" title="Click to select the parameter price for the item" ng-click="setParameterPrice(itemGroup)">{{itemGroup.parameterPrice | currency}} <strong>P</strong></a></li>
                                                <li><a href="" title="Click to select the cost based template price for the item" ng-show="itemGroup.costBasedTemplateId > 0" ng-click="setTemplatePrice(itemGroup)">{{itemGroup.templatePrice | currency}} <strong>T</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div style="text-align: right;" ng-show="itemGroup.isFixedPrice || estimate.isOfficial">
                                        {{itemGroup.price | currency}}
                                    </div>
                                    <div ng-show="itemGroup.costBasedTemplateId > 0 && !estimate.isOfficial">
                                        <a href="" ng-click="toggleCostBasedTemplate(itemGroup)">{{itemGroup.showTemplate ? 'Hide' : 'Show'}} Template Options</a>
                                    </div>
                                    <div ng-show="itemGroup.showTemplate && !estimate.isOfficial" class="panel" style="padding-top: 5px; padding-bottom: 5px;">
                                        <div>
                                            <a href="{{'./CostBasedTemplateAdministration/DownloadTemplate/' + itemGroup.costBasedTemplateId}}" title="Download Cost-Based Template">Download Template</a>
                                        </div>
                                        <br />
                                        <div>
                                            <form novalidate id="{{'templateForm' + itemGroup.itemId}}">
                                                <input type="file" style="width: 150px;" title="Select cost-based template file to set the T price" file-model="itemGroup.currentTemplate.file" id="{{'template' + itemGroup.itemId}}" />
                                            </form>
                                            <button type="button" ng-show="isTemplateUploadVisible(itemGroup)" style="margin-top: 5px;" ng-click="uploadTemplate(itemGroup)">Set Template Price</button>
                                        </div>
                                    </div>
                                    <div ng-show="!itemGroup.isFixedPrice && !estimate.isOfficial">
                                        <a ng-if="pricingLevel == 'project'" href="" title="Click to show/hide the bid history for the parameter pricing" ng-show="canSaveEstimate" ng-click="itemGroup.showPricingParameters ? closePricingParameters(itemGroup) : showPricingParameters(itemGroup, estimate.project.county)">{{itemGroup.showPricingParameters ? 'Close Bid History' : 'Open Bid History'}}</a>
                                        <a ng-if="pricingLevel == 'proposal'" href="" title="Click to show/hide the bid history for the parameter pricing" ng-show="canSaveEstimate" ng-click="itemGroup.showPricingParameters ? closePricingParameters(itemGroup) : showPricingParameters(itemGroup, estimate.proposal.county)">{{itemGroup.showPricingParameters ? 'Close Bid History' : 'Open Bid History'}}</a>
                                        <!--<a href="" ng-show="itemGroup.showPricingParameters" title="Close bid history" ng-click="closePricingParameters(itemGroup)">Close Bid History</a>-->
                                    </div>
                                </td>
                                <td style="text-align: right;" ng-show="$storage.showNonVisibleColumns || visibleColumns.showPreviousPriceColumn">
                                    <span ng-show="visibleColumns.showPreviousPriceColumn">
                                        {{itemGroup.previousPrice.toString() == '' ? '--' : itemGroup.previousPrice | currency}}
                                    </span>
                                </td>
                                <td>{{itemGroup.priceType}}</td>
                                <!--<td style="text-align: right;">{{itemGroup.price * itemGroup.quantity | currency}}</td>-->
                                <td style="text-align: right;">{{getExtendedAmount(itemGroup.price, itemGroup.quantity) | currency}}</td>

                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showFundColumn)">
                                    <span ng-show="visibleColumns.showFundColumn">
                                        {{itemGroup.fund}}
                                    </span>
                                </td>
                                <td ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showFundColumn)">
                                    <span ng-show="visibleColumns.showFundColumn">
                                        {{itemGroup.itemFund}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCombineCategoriesColumn)" style="text-align: center;">
                                    <span ng-show="visibleColumns.showCombineCategoriesColumn" style="font-size: 14pt;">
                                        {{itemGroup.combineCategories ? '*' : ''}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCombineItemsColumn)" style="text-align: center;">
                                    <span ng-show="visibleColumns.showCombineItemsColumn" style="font-size: 14pt;">
                                        {{itemGroup.combineItems ? '*' : ''}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateSetColumn)">
                                    <span ng-show="visibleColumns.showCategoryAlternateSetColumn">
                                        {{itemGroup.categoryAlternateSet}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateMemberColumn)">
                                    <span ng-show="visibleColumns.showCategoryAlternateMemberColumn">
                                        {{itemGroup.categoryAlternateMember}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemAlternateSetColumn)">
                                    <span ng-show="visibleColumns.showItemAlternateSetColumn">
                                        {{itemGroup.itemAlternateSet}}
                                    </span>
                                </td>
                                <td ng-show="itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemAlternateMemberColumn)">
                                    <span ng-show="visibleColumns.showItemAlternateMemberColumn">
                                        {{itemGroup.itemAlternateMember}}
                                    </span>
                                </td>
                                <td style="border-right-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCombineCategoriesColumn)"></td>
                                <td style="border-right-style: none; border-left-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCombineItemsColumn)"></td>
                                <td style="border-right-style: none; border-left-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateSetColumn)"></td>
                                <td style="border-right-style: none; border-left-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showCategoryAlternateMemberColumn)"></td>
                                <td style="border-right-style: none; border-left-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemAlternateSetColumn)"></td>
                                <td style="border-left-style: none;" ng-show="!itemGroup.group && ($storage.showNonVisibleColumns || visibleColumns.showItemAlternateMemberColumn)"></td>
                            </tr>
                            <!--test-->
                            <tr ng-if="itemGroup.group" ng-show="itemGroup.showPricingParameters" ng-repeat-end>
                                <td colspan="{{pricingLevel == 'project' ? 20 : 21}}" style="max-width: 800px; overflow-x: auto;">
                                    <bid-history pricing-level="pricingLevel" calculate-totals="calculateTotals" close-pricing-parameters="closePricingParameters" is-pricing-interface="true" estimate="estimate" item-group="itemGroup"></bid-history>
                                </td>
                            </tr>
                            <!--end test-->
                        </tbody>
                    </table>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Current Page: {{currentPage + 1}}
                <br />
                <button type="button" title="Click to go to page {{$index + 1}}" class="btn btn-sm btn-default" style="width: 40px; margin-bottom: 5px; margin-right: 2px;" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
                    {{$index + 1}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-right">
                    <span style="color: red; font-weight: bold;" ng-show="estimate.hasPendingChanges">
                        WARNING: Estimate has pending changes!&nbsp;&nbsp;
                    </span>
                    <button type="button" class="btn btn-primary" title="Click to save the current estimate" ng-show="!estimate.isOfficial" ng-disabled="!canSaveEstimate" ng-click="saveEstimate(true)">Save Estimate</button>    
                </div>
            </div>
        </div> 
        <div style="position: fixed; bottom: 5px; right: 5px; padding-right: 14px; z-index: 9999;">
            <a href="#pricingTop" class="btn btn-default btn-lg" scroll-on-click scroll-visible ng-click="rememberScroll()" title="scroll to top">
                <i class="glyphicon glyphicon-arrow-up"></i>
            </a>
        </div>
    </div>
</div>