<div ng-show="estimate != undefined && estimate != null">
    <div class="row" ng-if="!estimate.canEstimate">
        <div class="col-lg-12">
            <div ng-if="pricingLevel == 'project'" class="alert alert-danger">
                To price a project, you must have security authorization, custody, and a working estimate.
            </div>
            <div ng-if="pricingLevel == 'proposal'" class="alert alert-danger">
                To price a Proposal, you must have security authorization, custody, and a synchronized working estimate for each project.
            </div>
        </div>
    </div>
    <div ng-if="estimate.canEstimate">
        
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-10">
                                <h4 ng-if="pricingLevel == 'project'">
                                    Project:&nbsp;{{estimate.project.number}}
                                </h4>
                                <h4 ng-if="pricingLevel == 'proposal'">
                                    Proposal:&nbsp;{{estimate.proposal.number}}
                                </h4>
                            </div>
                            <div class="col-lg-2">
                                <h4>
                                    Estimate Total: &nbsp;{{estimate.total.Total | currency}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <td style="width: 40%">Included in Estimate</td>
                                            <td style="width: 10%">Category Set</td>
                                            <td style="width: 10%">Category Member</td>
                                            <td style="width: 10%">Item Set</td>
                                            <td style="width: 10%">Item Member</td>
                                            <td style="width: 20%">Total</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in estimateSummary | orderBy:['categorySet', 'categoryMember', 'itemSet', 'itemMember']" ng-class="item.included ? 'alert-warning' : ''">
                                            <td>
                                                <span class="text-success glyphicon glyphicon-ok" ng-show="item.included"></span>
                                            </td>
                                            <td>{{item.categorySet}}</td>
                                            <td>{{item.categoryMember}}</td>
                                            <td>{{item.itemSet}}</td>
                                            <td>{{item.itemMember}}</td>
                                            <td>{{item.total | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        
        
        
        <!--
            <div ng-if="estimate.project.isLsDb">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>
                            Lump Sum / Design Build Summary
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <td>Category</td>
                                    <td>Item</td>
                                    <td>Combine Categories</td>
                                    <td>Combine Items</td>
                                    <td>Category Alternate Set</td>
                                    <td>Category Alternate Member</td>
                                    <td>Item Alternate Set</td>
                                    <td>Item Alternate Member</td>
                                    <td>Item Description</td>
                                    <td>Supplemental Description</td>
                                    <td>Fund</td>
                                    <td>Unit of Measure</td>
                                    <td>Quantity</td>
                                    <td>Price</td>
                                    <td>Total</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in estimate.lsDbItems">
                                    <td>{{item.itemCategory}}</td>
                                    <td><pre>{{item.itemNumber}}</pre></td>
                                    <td>{{item.combineCategories}}</td>
                                    <td>{{item.combineItems}}</td>
                                    <td>{{item.categoryAlternateSet}}</td>
                                    <td>{{item.categoryAlternateMember}}</td>
                                    <td>{{item.itemAlternateSet}}</td>
                                    <td>{{item.itemAlternateMember}}</td>
                                    <td>{{item.itemDescription}}</td>
                                    <td>{{item.supplementalDescription}}</td>
                                    <td>{{item.fund}}</td>
                                    <td>{{item.unit}}</td>
                                    <td>{{item.quantity}}</td>
                                    <td>{{item.price | currency}}</td>
                                    <td>{{item.price * item.quantity | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            -->
        
        <div class="row">
            <div class="col-lg-6">
                <button class="btn btn-default" title="Click to show/hide the bid history pricing parameters" ng-show="!confirmSetBestPrices" ng-click="showOtherParms = !showOtherParms">{{showOtherParms ? 'Hide' : 'Show'}}&nbsp;Pricing Parameters</button>&nbsp;&nbsp;
                <button class="btn btn-primary" title="Click to set default prices (reference, county, market area, or state average) for the selected items" ng-disabled="!canSaveEstimate" ng-show="!confirmSetBestPrices" ng-click="confirmSetBestPrices = true">Set Default Prices</button>
                <div class="alert alert-warning" ng-show="confirmSetBestPrices">
                    Click 'Yes' to set the default prices for all selected items or 'No' to cancel&nbsp;&nbsp;
                    <button class="btn btn-default" title="Click to confirm the set of default prices" ng-click="setBestPrices(); confirmSetBestPrices = false">Yes</button>
                    <button class="btn btn-default" title="Click to cancel the set of default prices" ng-click="confirmSetBestPrices = false">No</button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-right">
                    <button class="btn btn-primary" title="Click to save the current estimate" ng-disabled="!canSaveEstimate" ng-click="saveEstimate()">Save Estimate</button>    
                </div>
            </div>
        </div> 
        <br/>
        <div class="row">
            <div class="col-lg-12" style="font-size: 8pt;">
                <!--<div>
                    <a href="" ng-click="showOtherParms = !showOtherParms">{{showOtherParms ? 'Hide' : 'Show'}}&nbsp;Pricing Parameters</a>
                </div>-->
                <div ng-show="showOtherParms">
                    <div style="width: 250px; float: left;">
                        <div>Contract Type</div>
                        <br />
                        <div>
                            <label>
                                <input title="All" type="radio" ng-model="contractType" value="all" /> All
                            </label>
                        </div>
                        <div>
                            <label>
                                <input title="Construction only" type="radio" ng-model="contractType" value="construction" /> Construction Only
                            </label>
                        </div>
                    </div>
                    <div style="width: 250px; float: left;">
                        <div>Work Type</div>
                        <br />
                        <div ng-repeat="workType in workTypes">
                            <label>
                                <input title="{{workType.name}} ({{workType.code}})" type="checkbox" ng-model="workType.include" /> {{workType.name}}&nbsp;({{workType.code}})
                            </label>
                        </div>
                    </div>
                    <div style="width: 250px; float: left;">
                        <div>Geographical Location</div>
                        <br />
                        <div ng-repeat="marketArea in marketAreas.marketAreas">
                            <label>
                                <input type="checkbox" title="{{marketArea.name}}" ng-model="marketArea.include" ng-change="selectMarketArea(marketArea, null)"> <a href="" title="Show/hide the counties associated to the market area" ng-click="marketArea.showCounties = !marketArea.showCounties">{{marketArea.name}}</a>
                            </label>
                            <div ng-show="marketArea.showCounties">
                                <div ng-repeat="county in marketArea.counties">
                                    &nbsp;&nbsp;&nbsp;
                                    <label>
                                        <input type="checkbox" title="{{county.name}}" ng-change="setMarketAreaSelection(marketArea, null)" ng-model="county.include"> {{county.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div>
                        <button class="btn btn-primary" title="Click to set the parameter based prices for the selected items" ng-disabled="!canSaveEstimate" ng-show="!confirmSetParameterPrices" ng-click="confirmSetParameterPrices = true">Set Parameter Prices</button>  
                        <div class="alert alert-warning" ng-show="confirmSetParameterPrices" style="font-size: 10pt;">
                            Click 'Yes' to set the parameter-based historical prices for all selected items or 'No' to cancel&nbsp;&nbsp;
                            <button class="btn btn-default" title="Click to confirm the setting of parameter based prices" ng-click="generateParameterPrices(); confirmSetParameterPrices = false">Yes</button>
                            <button class="btn btn-default" title="Click to cancel the setting of parameter based prices" ng-click="confirmSetParameterPrices = false">No</button>
                        </div>  
                    </div>
                    <br/>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-12">
                Current Page: {{currentPage + 1}}
                <br/>
                <button title="Click to go to page {{$index + 1}}" class="btn btn-sm btn-default" style="width: 40px; margin-bottom: 5px; margin-right: 2px;" ng-repeat="i in getNumberAsArray(numberOfPages()) track by $index" ng-click="setCurrentPage($index)">
                    {{$index + 1}}
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <div style="overflow-x: auto; width:100%">
                    <table class="table table-bordered table-condensed table-hover" style="font-size: 8pt;">
                        <thead>
                            <tr>
                                <td></td>
                                <td></td>
                                <td><a href="" title="Sort ascending/descending by category" ng-click="sortItems('federalConstructionClass')">Category</a></td>
                                <td ng-if="pricingLevel == 'proposal'" ><a href="" title="Sort ascending/descending by project" ng-click="sortItems('projectNumber')">Project</a></td>
                                <td><a href="" title="Sort ascending/descending by item" ng-click="sortItems('itemNumber')">Item</a></td>
                                <td><a href="" title="Sort ascending/descending by the combine categories flag" ng-click="sortItems('combineCategories')">Combine Categories</a></td>
                                <td><a href="" title="Sort ascending/descending by the combine items flag" ng-click="sortItems('combineItems')">Combine Items</a></td>
                                <td><a href="" title="Sort ascending/descending by category alternate set" ng-click="sortItems('categoryAlternateSet')">Category Alternate Set</a></td>
                                <td><a href="" title="Sort ascending/descending by category alternate member" ng-click="sortItems('categoryAlternateMember')">Category Alternate Member</a></td>
                                <td><a href="" title="Sort ascending/descending by item alternate set" ng-click="sortItems('itemAlternateSet')">Item Alternate Set</a></td>
                                <td><a href="" title="Sort ascending/descending by item alternate member" ng-click="sortItems('itemAlternateMember')">Item Alternate Member</a></td>
                                <td><a href="" title="Sort ascending/descending by item description" ng-click="sortItems('itemDescription')">Item Description</a></td>
                                <td><a href="" title="Sort ascending/descending by supplemental description" ng-click="sortItems('supplementalDescription')">Supplemental Description</a></td>
                                <td><a href="" title="Sort ascending/descending by fund" ng-click="sortItems('fund')">Fund</a></td>
                                <td><a href="" title="Sort ascending/descending by unit of measure" ng-click="sortItems('unit')">Unit of Measure</a></td>
                                <td><a href="" title="Sort ascending/descending by quantity" ng-click="sortItems('quantity')">Quantity</a></td>
                                <td><a href="" title="Sort ascending/descending by price" ng-click="sortItems('price')">Price</a></td>
                                <td><a href="" title="Sort ascending/descending by previous price" ng-click="sortItems('previousPrice')">Previous Price</a></td>
                                <td><a href="" title="Sort ascending/descending by price type" ng-click="sortItems('priceType')">Price Type</a></td>
                                <td><a href="" title="Sort ascending/descending by total extended amount" ng-click="sortItems('price * quantity')">Total</a></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-if="pricingLevel == 'project'" colspan="19">
                                    Filters:&nbsp;&nbsp;
                                    <a href="" title="Click to apply the current specified filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                                    <a href="" title="Click to remove all current filters" ng-click="clearAllFilters()">Clear</a>
                                </td>
                                <td ng-if="pricingLevel == 'proposal'" colspan="20">
                                    Filters:&nbsp;&nbsp;
                                    <a href="" title="Click to apply the current specified filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                                    <a href="" title="Click to remove all current filters" ng-click="clearAllFilters()">Clear</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="" title="Click to select the current filtered set of items for processing" ng-show="canSaveEstimate" ng-click="selectItems()">Select</a>
                                    <br/>
                                    <br/>
                                    <a href="" title="Click to deselect the current filtered set of items" ng-show="canSaveEstimate" ng-click="deselectItems()">Deselect</a>
                                </td>
                                <td></td>
                                <td><input title="Filter federal construction class" class="form-control" ng-model="filter.federalConstructionClass" ></td>
                                <td ng-if="pricingLevel == 'proposal'" ><input class="form-control" title="Filter project number" ng-model="filter.projectNumber" ></td>
                                <td><input title="Filter item number" class="form-control" ng-model="filter.itemNumber" ></td>
                                <td><input title="Filter combine categories" class="form-control" ng-model="filter.combineCategories" ></td>
                                <td><input title="Filter combine items" class="form-control" ng-model="filter.combineItems" ></td>
                                <td><input title="Filter category alternate set" class="form-control" ng-model="filter.categoryAlternateSet" ></td>
                                <td><input title="Filter category alternate member" class="form-control" ng-model="filter.categoryAlternateMember" ></td>
                                <td><input title="Filter item alternate set" class="form-control" ng-model="filter.itemAlternateSet" ></td>
                                <td><input title="Filter item alternate member" class="form-control" ng-model="filter.itemAlternateMember" ></td>
                                <td><input title="Filter item description" class="form-control" ng-model="filter.itemDescription" ></td>
                                <td><input title="Filter supplemental description" class="form-control" ng-model="filter.supplementalDescription" ></td>
                                <td><input title="Filter fund" class="form-control" ng-model="filter.fund" ></td>
                                <td><input title="Filter unit" class="form-control" ng-model="filter.unit" ></td>
                                <td></td>
                                <td style="width: 150px;"></td>
                                <td></td>
                                <td><input title="Filter price type" class="form-control" ng-model="filter.priceType" ></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td ng-if="pricingLevel == 'project'" colspan="19">Items:</td>
                                <td ng-if="pricingLevel == 'proposal'" colspan="20">Items:</td>
                            </tr>
                            <tr ng-repeat-start="itemGroup in filteredItems | startFrom: currentPage * pageSize  | limitTo:pageSize" ng-show="itemGroup.group || (!itemGroup.group && itemGroup.isExpanded)">
                                <td colspan="2" ng-show="!itemGroup.group"></td>
                                <td ng-show="itemGroup.group">
                                    <label>
                                        <input title="Select item" type="checkbox" ng-disabled="!canSaveEstimate" ng-model="itemGroup.selected">
                                    </label>
                                </td>
                                <td ng-show="itemGroup.group">
                                    <a href="" title="Click to expand/collapse the item group" ng-show="itemGroup.canExpand" ng-click="toggleGroup(itemGroup)">
                                        <span ng-show="!itemGroup.isExpanded" class="glyphicon glyphicon-plus"></span>
                                        <span ng-show="itemGroup.isExpanded" class="glyphicon glyphicon-minus"></span>
                                    </a>
                                </td>
                                <td ng-show="itemGroup.group">{{itemGroup.federalConstructionClass}}&nbsp;{{itemGroup.categoryDescription}}</td>
                                <td ng-show="!itemGroup.group">{{itemGroup.itemCategory}}</td>
                                <td ng-if="pricingLevel == 'proposal'">{{itemGroup.itemProjectNumber}}</td>
                                <td ng-show="!itemGroup.group" colspan="9"></td>
                                <td ng-show="itemGroup.group">
                                    <pre>{{itemGroup.itemNumber}}</pre>
                                </td>
                                <td ng-show="itemGroup.group">{{itemGroup.combineCategories}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.combineItems}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.categoryAlternateSet}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.categoryAlternateMember}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.itemAlternateSet}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.itemAlternateMember}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.itemDescription}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.supplementalDescription}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.fund}}</td>
                                <td ng-show="!itemGroup.group">{{itemGroup.itemFund}}</td>
                                <td ng-show="itemGroup.group">{{itemGroup.unit}}</td>
                                <td ng-show="!itemGroup.group"></td>
                                <td>{{itemGroup.quantity}}</td>
                                <td ng-show="!itemGroup.group">{{itemGroup.price | currency}}</td>
                                <td ng-show="itemGroup.group">
                                    <div class="input-group" ng-show="!itemGroup.isFixedPrice">
                                        <input title="Enter price" type="text" class="form-control" style="width:120px;" ng-readonly="itemGroup.asyncPricing" ng-model="itemGroup.price" ng-change="calculateTotals(itemGroup, 'O')" select-on-click />
                                        <div class="input-group-btn">
                                            <button title="Click to show available default prices" type="button" class="btn btn-default dropdown-toggle" ng-disabled="itemGroup.asyncPricing" ng-click="showPriceOptions(itemGroup)"><span class="caret"></span></button>
                                            <ul class="price-dropdown-menu dropdown-menu-right price-combo text-right" role="menu" ng-show="itemGroup.showPriceOptions">
                                                <li><a href="" title="Click to select the statewide average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setStatewidePrice(itemGroup)">{{itemGroup.statewidePrice | currency}} <strong>S</strong></a></li>
                                                <li><a href="" title="Click to select the market area average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setMarketAreaPrice(itemGroup)">{{itemGroup.marketAreaPrice | currency}} <strong>M</strong></a></li>
                                                <li><a href="" title="Click to select the county average price for the item" ng-show="!itemGroup.isFixedPrice" ng-click="setCountyPrice(itemGroup)">{{itemGroup.countyPrice | currency}} <strong>C</strong></a></li>
                                                <li><a href="" title="Click to select the reference price for the item" ng-show="!itemGroup.isFixedPrice && itemGroup.statewidePrice == 0 && itemGroup.marketAreaPrice == 0 && itemGroup.countyPrice == 0" ng-click="setReferencePrice(itemGroup)">{{itemGroup.referencePrice | currency}} <strong>R</strong></a></li>
                                                <li><a href="" title="Click to select the parameter price for the item" ng-click="setParameterPrice(itemGroup)">{{itemGroup.parameterPrice | currency}} <strong>P</strong></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div ng-show="itemGroup.isFixedPrice">
                                        {{itemGroup.price}}
                                    </div>
                                    <br />
                                    <div ng-show="!itemGroup.isFixedPrice">
                                        <a ng-if="pricingLevel == 'project'" href="" title="Click to view the bid history for the parameter pricing" ng-show="!itemGroup.showPricingParameters && canSaveEstimate" ng-click="showPricingParameters(itemGroup, estimate.project.county)">Open Bid History</a>
                                        <a ng-if="pricingLevel == 'proposal'" href="" title="Click to view the bid history for the parameter pricing" ng-show="!itemGroup.showPricingParameters && canSaveEstimate" ng-click="showPricingParameters(itemGroup, estimate.proposal.county)">Open Bid History</a>
                                        <a href="" ng-show="itemGroup.showPricingParameters" title="Close bid history" ng-click="closePricingParameters(itemGroup)">Close Bid History</a>
                                    </div>
                                </td>
                                <td>{{itemGroup.previousPrice.toString() == '' ? '--' : itemGroup.previousPrice | currency}}</td>
                                <td>{{itemGroup.priceType}}</td>
                                <td>{{itemGroup.price * itemGroup.quantity | currency}}</td>
                            </tr>
                            <tr ng-if="itemGroup.group" ng-show="itemGroup.showPricingParameters" ng-repeat-end>
                                <td colspan="{{pricingLevel == 'project' ? 19 : 20}}">
                                    <div style="overflow: auto; max-height: 600px; background-color: white; color: #1a2c3f;">
                                        <div class="bg-warning" style="text-align: right; font-size: 12pt; padding: 5px;">
                                            Current History Price: {{itemGroup.history.average | currency}}
                                            &nbsp;&nbsp;
                                            <button class="btn btn-primary" title="Click to save the current parameter based price for the item" ng-click="applyParameterPrice(itemGroup)">Save Parameter Price</button>
                                            &nbsp;&nbsp;
                                        </div>
                                        <br />
                                        <div style="padding-left: 5px;">
                                            <a href="" title="Click to show/hide bid based pricing paramteres" ng-click="itemGroup.history.showOtherParms = !itemGroup.history.showOtherParms">{{itemGroup.history.showOtherParms ? 'Hide' : 'Show'}}&nbsp;Parameters</a>
                                            &nbsp;&nbsp;
                                            <a href="" title="Click to select all bids for the item" ng-click="selectAll(itemGroup.history)">Select All Bids</a>
                                        </div>
                                        <br />
                                        <div style="padding-left: 5px;" ng-show="itemGroup.history.showOtherParms">
                                            <div style="width: 250px; float: left;">
                                                <div>Contract Type</div>
                                                <br />
                                                <div>
                                                    <label>
                                                        <input title="All" type="radio" ng-model="itemGroup.history.contractType" value="all" ng-change="applyFilters(itemGroup.history)" /> All
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input title="Construction only" type="radio" ng-model="itemGroup.history.contractType" value="construction" ng-change="applyFilters(itemGroup.history)" /> Construction Only
                                                    </label>
                                                </div>
                                            </div>
                                            <div style="width: 250px; float: left;">
                                                <div>Work Type</div>
                                                <br />
                                                <div ng-repeat="workType in itemGroup.history.workTypes">
                                                    <label>
                                                        <input title="{{workType.name}} ({{workType.code}})" type="checkbox" ng-change="applyFilters(itemGroup.history)" ng-model="workType.include" /> {{workType.name}}&nbsp;({{workType.code}})
                                                    </label>
                                                </div>
                                            </div>
                                            <div style="width: 250px; float: left;">
                                                <div>Geographical Location</div>
                                                <br />
                                                <div ng-repeat="marketArea in itemGroup.history.marketAreas">
                                                    <label>
                                                        <input title="{{marketArea.name}}" type="checkbox" ng-model="marketArea.include" ng-change="selectMarketArea(marketArea, itemGroup.history)"> <a href="" title="Click to show/hide counties for the market area" ng-click="marketArea.showCounties = !marketArea.showCounties">{{marketArea.name}}</a>
                                                    </label>
                                                    <div ng-show="marketArea.showCounties">
                                                        <div ng-repeat="county in marketArea.counties">
                                                            &nbsp;&nbsp;&nbsp;
                                                            <label>
                                                                <input title="{{county.name}}" type="checkbox" ng-change="setMarketAreaSelection(marketArea, itemGroup.history)" ng-model="county.include"> {{county.name}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear: both;"></div>
                                        </div>
                                        <br />
                                        <div style="text-align: right;">
                                            <label>
                                                <input title="Omit outliers on recalculation" type="checkbox" ng-model="itemGroup.history.omitOutliers"> Omit Outliers on Recalculation
                                            </label>
                                            &nbsp;&nbsp;
                                            <button ng-if="pricingLevel == 'project'" title="Click to recalculate the average bid price for the selected bids" class="btn btn-default" ng-click="updateBidHistory(itemGroup, estimate.project.county)">Recalculate Bid Price</button>
                                            <button ng-if="pricingLevel == 'proposal'" title="Click to recalculate the average bid price for the selected bids" class="btn btn-default" ng-click="updateBidHistory(itemGroup, estimate.proposal.county)">Recalculate Bid Price</button>
                                            &nbsp;&nbsp;
                                        </div>
                                        <br />
                                        <div ng-show="itemGroup.history.maxBiddersProposal != null && itemGroup.history.maxBiddersProposal != undefined">
                                            <table class="table table-bordered table-condensed table-striped">
                                                <thead>
                                                    <tr>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by proposal" ng-click="sortHistory(itemGroup.history, 'proposal')">Proposal</a>
                                                        </td>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by duration" ng-click="sortHistory(itemGroup.history, 'duration')">Duration</a>
                                                        </td>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by contract type" ng-click="sortHistory(itemGroup.history, 'contractType')">Contract Type</a>
                                                        </td>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by work type" ng-click="sortHistory(itemGroup.history, 'workType')">Work Type</a>
                                                        </td>
                                                        <td rowspan="2">Letting Date</td>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by county" ng-click="sortHistory(itemGroup.history, 'county')">County</a>
                                                        </td>
                                                        <td rowspan="2">
                                                            <a href="" title="Sort ascending/descending by Quantity" ng-click="sortHistory(itemGroup.history, 'quantity')">Quantity</a>
                                                        </td>
                                                        <td colspan="3">Rank</td>
                                                        <td rowspan="2" ng-repeat="bidder in itemGroup.history.maxBiddersProposal.bids">
                                                            <a href="" title="Click to deselect bids to the right of this bid" ng-click="omitOrIncludeBidder(itemGroup.history, bidder)">{{bidder.number == 1 ? 'Awarded' : 'Bidder ' + (bidder.number - 1).toString()}}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href="" title="Sort ascending/descending by quantity" ng-click="sortHistory(itemGroup.history, 'quantityWeight')">Quantity</a>
                                                        </td>
                                                        <td>
                                                            <a href="" title="Sort ascending/descending by letting" ng-click="sortHistory(itemGroup.history, 'timeWeight')">Letting</a>
                                                        </td>
                                                        <td>
                                                            <a href="" title="Sort ascending/descending by location" ng-click="sortHistory(itemGroup.history, 'locationWeight')">Location</a>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="proposal in itemGroup.history.proposals | orderBy:itemGroup.history.sort:itemGroup.history.sortReverse">
                                                        <td>
                                                            <a href="" title="Click to deselect proposals below this proposal" ng-click="omitOrIncludeProposal(itemGroup.history, proposal)">{{proposal.proposal}}</a>
                                                        </td>
                                                        <td>{{proposal.duration}}</td>
                                                        <td>{{proposal.contractType}}</td>
                                                        <td>{{proposal.workType}}</td>
                                                        <td>{{proposal.letting}}</td>
                                                        <td>{{proposal.county}}</td>
                                                        <td>{{proposal.quantity}}</td>
                                                        <td>{{proposal.quantityWeight == 9999999 ? '' : proposal.quantityWeight}}</td>
                                                        <td>{{proposal.timeWeight == 9999999 ? '' : proposal.timeWeight}}</td>
                                                        <td>{{proposal.locationWeight == 9999999 ? '' : proposal.locationWeight}}</td>
                                                        <td ng-repeat="bid in proposal.bids">
                                                            <div>
                                                                <label ng-if="!bid.blank">
                                                                    <input title="Include bid" type="checkbox" ng-model="bid.include"> {{bid.price | currency}}
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="text-right">
                    <button class="btn btn-primary" title="Click to save the current estimate" ng-disabled="!canSaveEstimate" ng-click="saveEstimate()">Save Estimate</button>    
                </div>
            </div>
        </div> 
    </div>
</div>
<br />
<br />
<br/>