<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
      <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
    </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DiscoveryProxies" value="" />
    <add key="HostAddress" value="interdev.dot.state.fl.us" />
    <add key="PolicyUrl" value="http://www.dot.state.fl.us/agencyresources/webpoliciesandnotices.shtm" />
    <add key="HelpLinkUrl" value="http://cosharepoint.dot.state.fl.us/sites/OOC/Grants/SitePages/Home.aspx" />
    <add key="OisLinkUrl" value="http://infonet.dot.state.fl.us/officeofinformationsystems" />
    <add key="OisImageUrl" value="http://www3.dot.state.fl.us/images/OISLogosm.jpg" />
    <add key="nhibernate-logger" value="NHibernate.Glimpse.LoggerFactory, NHibernate.Glimpse" />
    <add key="NHibernate.Glimpse.Loggers" value="command" />
    <add key="fdot.testbanner.disable" value="true" />
    <add key="executeDdl" value="false" />
    <add key="exportDdl" value="false" />
    <add key="exportDdlFile" value="c:\temp\DQE-DDL.sql" />
    <add key="vpn" value="true" />
    <add key="allowImpersonation" value="false" />
    <add key="environment" value="web" />
    <add key="loadWtPayItems" value="false" />
    <add key="loadPrices" value="false" />
    <add key="expireTimeMinutes" value="300"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
    <add key="owin:AutomaticAppStartup" value="true" />
	  <add key="rptDomain" value="co" />
	  <add key="reportServerUrl" value="http://kevin-laptop/ReportServer_SQLEXPRESS?/Dqe.Reporting" />
	  <add key="reportServerUrlDotUnit" value="http://dcs-dot-db07.dot.dcs.sdc.state.fl.us/Reportserver_SSRSDEV?/DQE_Reports" />
	  <add key="reportServerUrlDotSystem" value="http://dcs-dot-db09.dot.dcs.sdc.state.fl.us/Reportserver_SSRSTEST?/DQE_Reports" />
	  <add key="reportServerUrlDotProduction" value="http://dcs-dot-db10.dot.dcs.sdc.state.fl.us/Reportserver_SSRSPROD?/DQE_Reports" />
	  <add key="authorizationReportLocation" value="\\codata\shares\CO\ProjRev\AuthEst" />
	  <add key="sendAuthorizationReport" value="true" />
    <add key="updateLrePayItems" value="true" />
    <add key="updateLreSnapshots" value="true" />
    <add key="updateWtPayItems" value="true" />
	  <add key="SendPostEmails" value="false" />
	  <add key="SendUsageEmails" value="false" />
	  <add key="LogUsageToMessageBus" value="true" />
	  <add key="LogPostsToMessageBus" value="false" />
	  <add key="SendPostEmailsToAddresses" value="" />
	  <add key="SendUsageEmailsToAddresses" value="" />
	  <add key="ApplicationAcronym" value="DQE" />
	  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://alltech.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=AYBn0V2xdLa2QPNZgOF8AQzd5Vh2ccNuAVEHFcTD93I=" />
	  <add key="ClientSideExceptionLoggingEnabled" value="true" />
	  <add key="SendClientSideExceptionEmails" value="true" />
	  <add key="AddClientSideExceptionsToMessageBus" value="true" />
	  <add key="SendClientSideExceptionEmailsToAddresses" value="" />
	  <add key="EnvironmentLevelToken" value="L" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
    <httpModules>
      <remove name="Glimpse" />
      <remove name="ExceptionHandlerModule" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
      <add name="ExceptionHandlerModule" type="Alltech.Logging.ExceptionHandlerModule, Alltech.Logging" />
    </httpModules>
    <httpHandlers>
      <remove path="glimpse.axd" verb="GET" />
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
    </httpHandlers>
    <customErrors mode="Off" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
      <handlers>
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <remove name="Glimpse" />
        <remove name="OPTIONSVerbHandler" />
        <remove name="TRACEVerbHandler" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
      </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="Glimpse" />
      <remove name="ExceptionHandlerModule" />
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
      <!--<add name="ExceptionHandlerModule" type="Alltech.Logging.ExceptionHandlerModule, Alltech.Logging" />-->
      <add name="ExceptionHandlerModule" type="Alltech.Logging.ExceptionHandlerModule, Alltech.Logging" />
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="securitybehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEstimatorService" maxBufferPoolSize="504003200" maxReceivedMessageSize="504003200">
          <readerQuotas maxArrayLength="504003200" maxStringContentLength="504003200" maxBytesPerRead="504003200" maxNameTableCharCount="504003200" />
          <security>
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dotscowtrnsu02.co.dot.state.fl.us:7000/ApiHost/estimator.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEstimatorService" contract="WtEstimatorService.IEstimatorService" name="WSHttpBinding_IEstimatorService" behaviorConfiguration="securitybehavior">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAA5EgPEIK+bUpw3qE5XO2ETHlU/z8gAAAAAQAAALUBAAAwggGxMIIBX6ADAgECAhA0q8CXmxqjo0QzIVHq+DA8MAkGBSsOAwIdBQAwFjEUMBIGA1UEAxMLUm9vdCBBZ2VuY3kwHhcNMTQwNTI3MTkwMDUyWhcNMzkxMjMxMjM1OTU5WjAUMRIwEAYDVQQDEwlsb2NhbGhvc3QwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBANlYSKO6gx0gM9Lw00ErXjdbr4PW9DDHA8/is3CiIAne2x96A99Z5hbifHXmPCUyyypCUsuiJQWGuQXCZ25E9ZTru2AlkkZIZ10PGXk0JUdDEhv35KrTac8FkcIlAe+wpek7vLs6jGggz6B/OY+1sKnPzEOCzf4QyZPm/6Sh3TtTAgMBAAGjSzBJMEcGA1UdAQRAMD6AEBLkCS0GHR1PAI1hIdwWZGOhGDAWMRQwEgYDVQQDEwtSb290IEFnZW5jeYIQBjdsAKoAZIoRz7jUqlw19DAJBgUrDgMCHQUAA0EAY3879Z5cHlXRH/WH/l52D9w5axwmyAw4FeHcSRhLdOJb3ZbmSwks0AXf/JeODS8DhNw8HeofkIHu2Hzw/rULiQ==" />
        </identity>
      </endpoint>
    </client>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <glimpse defaultRuntimePolicy="Off" endpointBaseUri="~/Glimpse.axd" />
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="true" proxyaddress="http://proxy.dot.state.fl.us" />
    </defaultProxy>
  </system.net>
</configuration>
