<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" id="ng-app" ng-app="dqeApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keywords" content="" />
    <meta name="author" content="Alltech Consulting &copy;2014" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DQE</title>
    <link href="./Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./Content/theme.css" rel="stylesheet" media="screen">
    <link href="./Content/site.css" rel="stylesheet" media="screen">
    <link href="./Content/internet.css" rel="stylesheet" media="screen">
    <link href="./Scripts/angular-block-ui/angular-block-ui.min.css" rel="stylesheet" media="screen" />
    <link href="./Content/angular-growl.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="./Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="./Scripts/priceFormat.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-route.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-cookies.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-ui/ui-utils.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-growl.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="./Scripts/angular-block-ui/angular-block-ui.js"></script>
    <script type="text/javascript" src="./Scripts/ngStorage.min.js"></script>
    <!--utilities-->
    <script type="text/javascript" src="./Scripts/app/utilities/extensions.js?date=20250829"></script>
    <!--app driver-->
    <script type="text/javascript" src="./Scripts/app/app.js?date=20250829"></script>
    <!--bundles-->
    <script type="text/javascript" src="./bundles/services?date=20250829"></script>
    <script type="text/javascript" src="./bundles/directives?date=20250829"></script>
    <script type="text/javascript" src="./bundles/controllers?date=20250829"></script>
    <!--logging-->
    <script type="text/javascript" src="./Scripts/stacktrace.js"></script>
    <script type="text/javascript" src="./Scripts/alltech-logging.js"></script>
</head>
    <body ng-controller="LayoutController">
        <div growl></div>
        <button type="button" class="screenReaderOnly" ng-click="skipNavigation = true" title="Skip Navigation"></button>
        <div ng-show="showEnvironmentWarning" style="background-color: yellow; color: red; font-weight: bold; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999;">
            WARNING!!!: {{environment}}
        </div>
        <div class="container-fluid">
            <div class="row" ng-show="!currentUser.isAuthenticated">
                <div class="col-lg-12">
                    <div class="fdot-2013redesign">
                        <div id="header-2013redesign">
                            <div id="logo-2013redesign">
                                <img width="235" height="104" title="State of Florida Department of Transportation logo" alt="State of Florida Department of Transportation logo" src="http://www.fdot.gov/webtools_images/FDOTLogo.png">
                            </div>
                            <div id="tagline-2013redesign">
                                <h5>Florida Department of</h5>
                                <h1>TRANSPORTATION</h1>
                            </div>
                            <div class="nav-2013redesign">
                                <ul>
                                    <li>
                                        <a title="Projects" href="https://scoc.fdot.gov/">Projects</a>
                                    </li>
                                    <li>
                                        <a title="Performance" href="https://www.fdot.gov/planning/fto">Performance</a>
                                    </li>
                                    <li>
                                        <a title="Offices" href="http://www.fdot.gov/agencyresources/offices.shtm">Offices</a>
                                    </li>
                                    <li>
                                        <a title="Maps & Data" href="http://www.fdot.gov/agencyresources/mapsanddata.shtm">Maps & Data</a>
                                    </li>
                                    <li>
                                        <a title="Contact Us" href="http://www.fdot.gov/agencyresources/contactus.shtm">Contact Us</a>
                                    </li>
                                    <li>
                                        <a title="About FDOT" href="http://www.fdot.gov/agencyresources/aboutFDOT.shtm">About FDOT</a>
                                    </li>
                                    <li>
                                        <a title="Home page" href="http://www.fdot.gov">Home</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="pagetitle-2013redesign">
                            <h4>
                                Design Quantities and Estimates
                            </h4>
                        </div>
                        <div class="clear-2013redesign"></div>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-default {{currentUser.isAuthenticated ? 'navbar-fixed-top' : ''}}" role="navigation" style="margin-top: {{showEnvironmentWarning ? '18px' : '0'}};">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" title="Click to expand/collapse menu" type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="" title="Click to go to DQE home" ng-click="navigate('/')">
                        <img style="max-width:100px; margin-top: -17px; margin-left: -11px;" ng-show="currentUser.isAuthenticated" data-ng-src="./content/images/logo2.png">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
                    <ul class="nav navbar-nav">
                        <li class="item {{nav.active}}" ng-repeat="nav in navs">
                            <a href="" title="Click to go to {{nav.title}}" ng-click="navigate(nav.url)">{{nav.title}}</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://www.fdot.gov/programmanagement/estimates/applications/dqe/dqe-help" title="Help - opens a new browser window" target="_blank">Help</a>
                        </li>
                        <li ng-if="showStatisticsDetails">
                            <a href="./Content/Statistics_Details.docx" title="Statistics Details - Download Word Document" download="Statistics_Details.docx">Statistics Details</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" ng-show="currentUser.isAuthenticated">
                        <li class="item">
                            <a href="" title="Click to sign out" ng-click="signout()">Sign out</a>
                        </li>
                    </ul>
                    <span class="navbar-text navbar-right" ng-show="currentUser.isAuthenticated">{{currentUser.userNameAndRole}}</span>
                </div>
            </nav>
            <div style="margin-top: 70px;" ng-show="currentUser.isAuthenticated"></div>
            <div ng-show="showStatusMessage == true;">
                <div class="row">
                    <div class="col-lg-11">
                        Task Messages:
                    </div>
                    <div class="col-lg-1">
                        <div class="text-right">
                            <button type="button" title="Click to close the message" class="btn btn-default" ng-click="hideStatusMessage();">&times;</button>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-12">
                        <pre>{{statusMessageText}}</pre>
                    </div>
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align: right;">
                    &nbsp;
                    <span ng-show="currentUser.isAuthenticated && session.hours != undefined && session.minutes != undefined">
                        <span ng-show="session.hours > 0">
                            Your session will expire in {{session.hours}} hour(s) {{session.minutes}} minute(s)
                        </span>
                        <span ng-show="session.hours == 0 && session.minutes > 0">
                            Your session will expire in {{session.minutes}} minutes
                        </span>
                        <span ng-show="session.hours == 0 && session.minutes == 0">
                            Your session will expire in less than 1 minute
                        </span>
                    </span>
                </div>
            </div>
            <div ng-show="topTabs.length > 0">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li ng-repeat="topTab in topTabs" ng-class="topTab.active ? 'active' : ''">
                                <a href="" title="Click to go to {{topTab.title}}" ng-click="navigate(topTab.url)">{{topTab.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <div class="row" ng-show="subTabs.length > 0">
                    <div class="col-lg-12">
                        <ul class="nav nav-pills">
                            <li ng-repeat="subTab in subTabs" ng-class="subTab.active ? 'active' : ''">
                                <a href="" title="Click to go to {{subTab.title}}" ng-click="navigate(subTab.url)">{{subTab.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="subTabs.length > 0">
                    <hr />
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#" class="screenReaderOnly" focus-content="skipNavigation"></a>
                        <div ng-view></div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="hidden-xs hidden-sm" ng-show="!currentUser.isAuthenticated">
                <div class="fdot-2013redesign">
                    <div class="clear-2013redesign"></div>
                    <div id="footer-2013redesign">
                        <ul id="navbottom-2013redesign">
                            <li>
                                <a title="Contact Us (opens new browser window" target="_blank" href="http://www.fdot.gov/agencyresources/contactus.shtm">Contact Us </a>
                            </li>
                            <li>
                                <a title="Employment (opens new browser window)" target="_blank" href="https://www.fdot.gov/agencyresources/employment.shtm">Employment</a>
                            </li>
                            <li>
                                <a title="MyFlorida.com (opens new browser window)" target="_blank" href="http://www.myflorida.com/">MyFlorida.com</a>
                            </li>
                            <li>
                                <a title="FDOT Performance (opens new browser window)" target="_blank" href="https://www.fdot.gov/planning/fto">Performance</a>
                            </li>
                            <li>
                                <a title="Statement of Agency (opens new browser window)" target="_blank" href="https://www.fdot.gov/agencyresources/statementofagency.shtm">Statement of Agency</a>
                            </li>
                            <li>
                                <a title="Web Policies & Notices (opens new browser window)" target="_blank" href="https://www.fdot.gov/agencyresources/webpoliciesandnotices.shtm">Web Policies & Notices</a>
                            </li>
                        </ul>
                        <div id="SocialMediaIcons-2013redesign">
                            <a target="_blank" href="https://www.facebook.com/FLDOT">
                                <img width="32" border="0" height="32" title="Link to FDOT's Facebook page (opens new browser window)" alt="Link to FDOT's Facebook page (opens new browser window)" src="http://www.fdot.gov/webtools_images/Facebook.png">
                            </a>
                            <a target="_blank" href="http://twitter.com/#!/myfdot">
                                <img width="32" border="0" height="32" title="Link to FDOT's Twitter page (opens new browser window)" alt="Link to FDOT's Twitter page (opens new browser window)" src="http://www.fdot.gov/webtools_images/Twitter.png">
                            </a>
                            <a target="_blank" href="http://www.youtube.com/user/myfdot">
                                <img width="32" border="0" height="32" title="Link to FDOT's YouTube page (opens new browser window)" alt="Link to FDOT's YouTube page (opens new browser window)" src="http://www.fdot.gov/webtools_images/YouTube.png">
                            </a>
                            <a target="_blank" href="http://fldot.wordpress.com/">
                                <img width="32" border="0" height="32" title="Link to FDOT's Wordpress page (opens new browser window)" alt="Link to FDOT's Wordpress page (opens new browser window)" src="http://www.fdot.gov/webtools_images/Wordpress.png">
                            </a>
                            <a target="_blank" href="http://www.seefloridago.org/">
                                <img width="32" border="0" height="32" title="Link to FDOT's See Florida Go Photography page (opens new browser window)" alt="Link to FDOT's See Florida Go Photography page (opens new browser window)" src="http://www.fdot.gov/webtools_images/SeeFloridaGo.png">
                            </a>
                            <a target="_blank" href="https://www.fdot.gov/agencyresources/rss.shtm"">
                                <img width="32" border="0" height="32" title="Link to FDOT's RSS page (opens new browser window)" alt="Link to FDOT's RSS page (opens new browser window)" src="http://www.fdot.gov/webtools_images/RSS.png">
                            </a>
                            <div id="copyright-2013redesign">
                                <p>© 1996-2013 Florida Department of Transportation</p>
                            </div>
                        </div>
                        <div id="footertag-2013redesign">
                            <p>Florida Department of Transportation</p>
                            <h5>Consistent, Predictable, Repeatable</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="currentUser.isAuthenticated">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8">
                    <div style="text-align: center">
                        Design Quantities and Estimates (DQE) System
                        <br />
                        Report technical problems to the
                        <a href="mailto:FDOT.ServiceDesk@dot.state.fl.us?subject=DQE Issue" title="Use this link to E-Mail concerns, problems, and/or comments">
                            Service Desk
                        </a>
                        at 1-866-955-4357    <br />
                        Email
                        <a href="mailto:FDOT-ESTSUP@dot.state.fl.us?subject=DQE Question" title="Use this link to E-Mail DQE System specific questions">
                            Estimates System Support
                        </a>
                        for questions about the DQE System
                        <br />
                        <a target="_blank" title="Web Policies and Notices (Opens new browser window)" href="http://www.fdot.gov/agencyresources/webpoliciesandnotices.shtm">
                            Web Policies and Notices
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>