<div class="row">
    <div class="col-lg-3">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios1" id="optionsRadios11" value="option1" checked>
                View Current Structures Only
            </label>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios1" id="optionsRadios12" value="option2">
                View Current and Obsolete Structures
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <accordion>
            <accordion-group heading="000-099 Pay Items">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-right">
                            <button class="btn btn-primary">Add New Structure</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <a href="" ng-click="toggle101()">101-1</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        MOBILIZATION
                    </div>
                </div>
                <div class="row" ng-show="show101">
                    <br />
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-2">
                                Dates:
                            </div>
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-3">
                                        Effective:        
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" />
                                    </div>
                                </div>
                                <br/>
                                <div class="row">
                                    <div class="col-lg-3">
                                        Obsolete:
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="form-control" />
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <i class="text-danger">these codes should be configurable in the system - BOE chapter 2 - if LS, secondary is required. if not, secondary is not allowed?</i>
                                Unit & Secondary:
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option>LS</option>
                                    <option>AC</option>
                                </select>        
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option>LS</option>
                                    <option>AC</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <i class="text-danger">these codes should be configurable in the system</i>
                                Accuracy:
                            </div>
                            <div class="col-lg-8">
                                <select class="form-control">
                                    <option>Lump Sum</option>
                                    <option>Linear Foot</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-4">
                                Plan Quantity?
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                Do Not Bid?
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                Fixed Price?
                            </div>
                            <div class="col-lg-4">
                                <select class="form-control">
                                    <option>No</option>
                                    <option>Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                Fixed Amount:
                            </div>
                            <div class="col-lg-8">
                                <input class="form-control" />
                            </div>
                        </div>

                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <a href="">102-1</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        MAINTENANCE OF TRAFFIC
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <a href="">1012-2-AA</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        SPECIAL DETOUR
                    </div>
                </div>
            </accordion-group>
            <accordion-group heading="100-199 Pay Items">
                This content is straight in the template.
            </accordion-group>
            <accordion-group heading="200-299 Pay Items">
                This content is straight in the template.
            </accordion-group>
        </accordion>
    </div>
</div>