<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_DocumentConverterService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:41734/Muhimbi.DocumentConverter.WebService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_DocumentConverterService"
                contract="DocumentConverterService.DocumentConverterService"
                name="BasicHttpBinding_DocumentConverterService" />
        </client>
    </system.serviceModel>
</configuration>