<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxExceptionHandling" version="1.3.0" targetFramework="net40" />
  <package id="Fdot.Enterprise" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.Configuration.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.ConnectionStrings.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.DocumentManagement.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.OrgCodes.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.Racf.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Fdot.Enterprise.Staff.Client" version="4.1.0.9" targetFramework="net40" />
  <package id="Glimpse" version="1.8.5" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.DataAnnotations" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.DependencyInjection" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.Glimpse" version="3.3.3.40011" targetFramework="net40" />
  <package id="NHibernate.Session" version="3.3.3.4001" targetFramework="net45" />
</packages>