<div class="row" ng-show="!showNewStructure">
    <form method="POST" id="ViewStructureData" autocomplete="off">
        <div class="col-lg-12">
            <div class="col-lg-11">
                <a href="" title="Click to open the form to add a new pay item structure" ng-click="addNewStructure()">New Structure</a>
            </div>
            <div class="col-lg-1" align="right">
                <button type="button" class="btn btn-primary" title="Click to download the report - file type: EXCELOPENXML file size: unknown" ng-click="downloadStructures()">
                    Structure Data File
                </button>
            </div>
        </div>
        <br /><br /><br />
        <div class="col-lg-12">
            <div class="col-lg-10"></div>
            <div class="col-lg-1" align="right">
                <select class="form-control" name="specYear" title="Spec year" ng-options="item.name as item.name for item in specBooks" ng-model="specBook.current" ng-change="changeSpecId(specBook)"></select>
            </div>
            <div class="col-lg-1" align="right">
                <button type="button" class="btn btn-primary" title="Click to download the report - file type: EXCELOPENXML file size: unknown" ng-click="downloadPayItems()">
                    Pay Item Data File
                </button>
            </div>
            <input type="hidden" id="hiddenSpecBookId" name="hiddenSpecBookId" value="">
        </div>
    </form>
</div>
<div class="row" ng-show="showNewStructure">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Add a new Pay Item Structure</div>
            <div class="panel-body">
                <pay-item-structure structure="newStructure"
                                    cancel-callback="cancelAddNewStructure"
                                    insert-structure-callback="addStructureToList">
                </pay-item-structure>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                BOE Chapter Index
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- JWW 02/25/25 - Title attribute of links is used by listItems function. Beginning words are truncated, leaving only range and description.
                         Updates to title, requires changes to function in adminPayItemsMaintainController.js -->
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 000 - 199: MOT, Erosion Control, Litter Removal, Moving, Earthwork"
                           ng-click="listItems($event, ' 0')">
                            <pre> 000 - 199</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 200 - 299: Base Courses"
                           ng-click="listItems($event, ' 2')">
                            <pre> 200 - 299</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 300 - 399: Surface Courses and Concrete Pavement"
                           ng-click="listItems($event, ' 3')">
                            <pre> 300 - 399</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 400 - 499: Structures, Drainage, Foundations"
                           ng-click="listItems($event, ' 4')">
                            <pre> 400 - 499</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 500 - 599: Incidental Construction, Curb, Sidewalk, Guardrail, Crash Cushions, Fencing, Turf"
                           ng-click="listItems($event, ' 5')">
                            <pre> 500 - 599</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 600 - 699: Traffic Control Signals and Devices, Conduit, Midblock Crosswalks, Traffic Monitoring Sites"
                           ng-click="listItems($event, ' 6')">
                            <pre> 600 - 699</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 700 - 799: Signing, Pavement Markings, Lighting"
                           ng-click="listItems($event, ' 7')">
                            <pre> 700 - 799</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 800 - 899: Mass Transit"
                           ng-click="listItems($event, ' 8')">
                            <pre> 800 - 899</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 900 - 999: Developmental and Special Pay Items"
                           ng-click="listItems($event, ' 9')">
                            <pre> 900 - 999</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures 1000 - 1999: Utilities"
                           ng-click="listItems($event, '1')">
                            <pre>1000 - 1999</pre>
                        </a>
                    </div>
                    <div class="col-lg-1">
                        <a href=""
                           title="View pay item structures Other"
                           ng-click="listItems($event, 'X')">
                            <pre>Other</pre>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Options</div>
            <div class="panel-body">
                <div style="width: 300px; float: left;">
                    <label>
                        <input type="checkbox" title="Show current structures only" ng-model="showCurrentStructures" ng-change="resetList()" /> Show only active Pay Item Structures
                    </label>
                </div>
                <div style="width: 300px; float: left;">
                    <label>
                        <input type="checkbox" title="Show current pay items only" ng-model="showCurrentItems" ng-change="resetStructures()" /> Show only active Pay Items
                    </label>
                </div>
                <div style="clear: both;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <span style="font-size:17px; font-weight:bold;">{{boeChapterTitle}}</span>
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td>Structure ID</td>
                    <td>Title</td>
                    <td>Unit</td>
                </tr>
                <tr>
                    <td>
                        Filters:&nbsp;&nbsp;
                        <a href="" title="Click to apply the current filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                        <a href="" title="Click to clear the current filters" ng-click="clearAllFilters()">Clear</a>
                    </td>
                    <td><input class="form-control" title="Filter structure name" ng-model="filter.name"></td>
                    <td><input class="form-control" title="Filter structure title" ng-model="filter.title"></td>
                    <td><input class="form-control" title="Filter structure unit" ng-model="filter.unit"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="structure in filteredItems | orderBy : 'name'">
                    <td>
                        <a href="" focus-me="structure.showDetail" title="Click to expand/collapse the pay item structure details" ng-click="toggleStructureDetail(structure)">
                            <span ng-class="!structure.showDetail ? 'glyphicon glyphicon-plus' : 'glyphicon glyphicon-minus'"></span>
                        </a>
                    </td>
                    <td>
                        <a href="" title="Filter to this structure number" ng-click="filterStructure(structure.name)">
                            <pre>{{structure.name}}</pre>
                        </a>
                    </td>
                    <td>{{structure.title}}</td>
                    <td>{{structure.unit}}</td>
                </tr>
                <tr ng-repeat-end ng-if="structure.showDetail">
                    <td colspan="4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Pay Item Structure</div>
                            <div class="panel-body">
                                <pay-item-structure structure="structure"
                                                    remove-structure-callback="removeStructureFromList"
                                                    unlinked-items="unlinkedItems"
                                                    load-items="getItemsForStructure"
                                                    primary-units="primaryUnits"
                                                    hybrid-units="hybridUnits"
                                                    item-types="itemTypes"
                                                    cost-based-templates="costBasedTemplates"
                                                    item-classifications="itemClassifications"
                                                    contract-classifications="contractClassifications"
                                                    fuel-types="fuelTypes"
                                                    precision-codes="precisionCodes"
                                                    show-current="showCurrentItems">
                                </pay-item-structure>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>