<br/>
Web Link Type
<div class="row">
    <div class="col-lg-2">
        <select class="form-control" ng-model="linkType" ng-change="getLinks()">
            <option value="--" selected>--Select a web link to manage--</option>
            <option value="OR">Other References</option>
            <option value="PC">PPM Chapters</option>
            <option value="PD">CPAM Chapters</option>
            <option value="SP">Specifications</option>
            <option value="SD">Standards</option>
        </select>
    </div>
</div>
<br/>
<div class="row" ng-show="linkType != '--'">
    <div class="col-lg-2">
        Search: <input class="form-control" ng-model="query">
    </div>
</div>
<br/>
<div class="row" ng-show="linkType != '--'">
    <div class="col-lg-6">
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <td style="text-align: center; width: 10%">Select</td>
                    <td style="width: 30%">Name</td>
                    <td style="width: 60%">Web Link</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in links | filter:query">
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="link.selected">
                            </label>
                        </div>
                    </td>
                    <td>
                        <input type="text" ng-model="link.name" class="form-control" />
                    </td>
                    <td>
                        <input type="text" ng-model="link.webLink" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="text" ng-model="newLink.name" class="form-control" />
                    </td>
                    <td>
                        <input type="text" ng-model="newLink.webLink" class="form-control">
                    </td>
                </tr>
            </tbody>
        </table>        
    </div>    
</div>
<br/>
<div class="row" ng-show="linkType != '--' && showConfirmRemoval">
    <div class="col-lg-10">
        <div class="alert alert-danger">
            Are you sure you want to remove the selected web links?
            <button class="btn btn-default" ng-click="showConfirmRemoval = false">No</button>
            <button class="btn btn-danger" ng-click="removeSelectedLinks()">Yes</button>
        </div>
    </div>
</div>
<div class="row" ng-show="linkType != '--' && !showConfirmRemoval">
    <div class="col-lg-10">
        <button class="btn btn-primary" ng-disabled="(newLink.name == '' || newLink.webLink == '') && codes.length == 0" ng-click="updateLinks()">Submit</button>&nbsp;
        <button class="btn btn-danger" ng-disabled="isRemoveLinkDisabled()" ng-click="showConfirmRemoval = true" ng-hide="showConfirmRemoval">Remove Selected</button>
    </div>
</div>    