<div class="row" ng-show="!showStructureDetail && !showPayItemDetail">
    <div class="col-lg-12">
        <div class="radio">
            <label>
                <input type="radio" name="viewItems" id="viewCurrentItems" value="current" checked ng-model="viewItems">
                View Current Items Only
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="viewItems" id="viewAllItems" value="all" ng-model="viewItems">
                View Current and Obsolete Items
            </label>
        </div>
    </div>
</div>
<br/>
<div class="row" ng-show="!showStructureDetail && !showPayItemDetail">
    <div class="col-lg-2">
        Filter Structure Number: <input class="form-control" ng-model="query">
    </div>
    <div class="col-lg-2">
        View Structure Range: 
        <select class="form-control" ng-model="structureRange">
            <option value="0">0000</option>
            <option value="1">0100</option>
            <option value="2">0200</option>
            <option value="3">0300</option>
            <option value="4">0400</option>
            <option value="5">0500</option>
            <option value="6">0600</option>
            <option value="7">0700</option>
            <option value="8">0800</option>
            <option value="9">0900</option>
            <option value="10">Other</option>
            <option value="11">All</option>
        </select>
    </div>
</div>
<br/>
<div class="row" ng-show="!showStructureDetail && !showPayItemDetail">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Pay Items
            </div>
            <div class="panel-body">
                <a href="" style="font-weight: bold;" ng-click="addNewPayItemStructure()">
                    Add New Structure
                </a>
                <br /><br />
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2" style="font-weight: bold;">Structure Number</div>
                            <div class="col-lg-6" style="font-weight: bold;">Title</div>
                            <div class="col-lg-2" style="font-weight: bold;">Effective Date</div>
                            <div class="col-lg-2" style="font-weight: bold;">Obsolete Date</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" ng-repeat="payItemStructure in payItemStructures | filter:{structureId:query} | orderBy:'structureId'">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="" style="text-decoration: none;" ng-show="!payItemStructure.showItems" ng-click="payItemStructure.showItems = !payItemStructure.showItems">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                <a href="" style="text-decoration: none;" ng-show="payItemStructure.showItems" ng-click="payItemStructure.showItems = !payItemStructure.showItems">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                                <a href="" style="font-weight: bold; margin-left: 5px;" ng-click="loadPayItemStructure(payItemStructure)">
                                    {{payItemStructure.structureId}}
                                </a>
                            </div>
                            <div class="col-lg-6">
                                {{payItemStructure.title}}
                            </div>
                            <div class="col-lg-2">
                                {{payItemStructure.effectiveDate}}
                            </div>
                            <div class="col-lg-2">
                                {{payItemStructure.obsoleteDate}}
                            </div>
                        </div>
                        <hr />
                        <div ng-show="masterFiles.length > 0">
                            <div class="row" ng-show="payItemStructure.showItems">
                                <div class="col-lg-1"></div>
                                <div class="col-lg-2">
                                    <a href="" style="font-weight: bold;" ng-click="addNewPayItem(payItemStructure)">
                                        Add New Pay Item
                                    </a>
                                    <br /><br />
                                </div>
                            </div>
                            <div class="row" ng-show="payItemStructure.showItems">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-1" style="font-weight: bold;">Master File</div>
                                <div class="col-lg-3" style="font-weight: bold;">Pay Item Number</div>
                                <div class="col-lg-2" style="font-weight: bold;">Unit of Measure</div>
                                <div class="col-lg-2" style="font-weight: bold;">Effective Date</div>
                                <div class="col-lg-2" style="font-weight: bold;">Obsolete Date</div>
                            </div>
                            <hr ng-show="payItemStructure.showItems" />
                            <div ng-repeat="payItem in payItemStructure.items | orderBy:['number', 'masterFile']" ng-show="payItemStructure.showItems">
                                <div class="row">
                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-1">
                                        <a href="" ng-click="copyPayItem(payItem)" style="font-weight: bold;">Copy</a>
                                    </div>
                                    <div class="col-lg-1">{{payItem.masterFile}}</div>
                                    <div class="col-lg-3" style="font-weight: bold;">
                                        <a href="" ng-click="loadPayItem(payItem)">{{payItem.number}}</a>
                                    </div>
                                    <div class="col-lg-2">{{payItem.unitOfMeasure}}</div>
                                    <div class="col-lg-2">{{payItem.effectiveDate}}</div>
                                    <div class="col-lg-2">{{payItem.obsoleteDate}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-1">Description:</div>
                                    <div class="col-lg-9">{{payItem.shortDescription}}</div>
                                </div>
                                <hr ng-show="payItemStructure.showItems" />
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showStructureDetail">
    <div class="panel panel-primary">
        <div class="panel-heading">{{payItemStructureDetail.id == 0 ? 'New' : 'Update'}} Pay Item Structure
            <button type="button" class="close" ng-click="showStructureDetail = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-1">
                    Structure
                </div>
                <div class="col-lg-1">
                    Number:
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" ng-model="payItemStructureDetail.structureId" maxlength="12" />
                </div>
                <div class="col-lg-2">
                    Title:
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" ng-model="payItemStructureDetail.title" maxlength="255" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">
                    Dates
                </div>
                <div class="col-lg-1">
                    Effective:
                </div>
                <div class="col-lg-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructureDetail.effectiveDate" is-open="effectiveOpened" maxlength="10" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="effectiveOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-2">
                    Unit & Secondary:
                </div>
                <div class="col-lg-4" ng-show="payItemStructureDetail.primaryUnitCode != 'Mixed'">
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" ng-model="payItemStructureDetail.primaryUnit">
                                <option value="0">--Select--</option>
                                <option value="35">MIXED</option>
                                <option value="1">AC</option>
                                <option value="2">AS</option>
                                <option value="3">CF</option>
                                <option value="4">CY</option>
                                <option value="5">DA</option>
                                <option value="6">DD</option>
                                <option value="7">EA</option>
                                <option value="8">ED</option>
                                <option value="9">GA</option>
                                <option value="10">GM</option>
                                <option value="11">HR</option>
                                <option value="12">LB</option>
                                <option value="13">LF</option>
                                <option value="14">LO</option>
                                <option value="15">LS</option>
                                <option value="16">LU</option>
                                <option value="17">MB</option>
                                <option value="18">MH</option>
                                <option value="19">MI</option>
                                <option value="20">MG</option>
                                <option value="21">MO</option>
                                <option value="22">NM</option>
                                <option value="23">PA</option>
                                <option value="24">PB</option>
                                <option value="25">PI</option>
                                <option value="26">PL</option>
                                <option value="27">PM</option>
                                <option value="28">PS</option>
                                <option value="29">PW</option>
                                <option value="30">SF</option>
                                <option value="31">SY</option>
                                <option value="32">TH</option>
                                <option value="33">TN</option>
                                <option value="34">YD</option>
                            </select>
                        </div>
                        <div class="col-lg-6" ng-show="payItemStructureDetail.primaryUnit == 15">
                            <select class="form-control" ng-model="payItemStructureDetail.secondaryUnit">
                                <option value="0">--Select--</option>
                                <option value="1">AC</option>
                                <option value="2">AS</option>
                                <option value="3">CF</option>
                                <option value="4">CY</option>
                                <option value="5">DA</option>
                                <option value="6">DD</option>
                                <option value="7">EA</option>
                                <option value="8">ED</option>
                                <option value="9">GA</option>
                                <option value="10">GM</option>
                                <option value="11">HR</option>
                                <option value="12">LB</option>
                                <option value="13">LF</option>
                                <option value="14">LO</option>
                                <option value="15">LS</option>
                                <option value="16">LU</option>
                                <option value="17">MB</option>
                                <option value="18">MH</option>
                                <option value="19">MI</option>
                                <option value="20">MG</option>
                                <option value="21">MO</option>
                                <option value="22">NM</option>
                                <option value="23">PA</option>
                                <option value="24">PB</option>
                                <option value="25">PI</option>
                                <option value="26">PL</option>
                                <option value="27">PM</option>
                                <option value="28">PS</option>
                                <option value="29">PW</option>
                                <option value="30">SF</option>
                                <option value="31">SY</option>
                                <option value="32">TH</option>
                                <option value="33">TN</option>
                                <option value="34">YD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4" ng-show="payItemStructureDetail.primaryUnitCode == 'Mixed'">
                    {{payItemStructureDetail.primaryUnitCode}}
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-1">
                    Obsolete:
                </div>
                <div class="col-lg-4">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructureDetail.obsoleteDate" is-open="obsoleteOpened" maxlength="10" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="obsoleteOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-2">
                    Decimal Precision Number:
                </div>
                <div class="col-lg-4">
                    <input type="number" class="form-control" ng-model="payItemStructureDetail.accuracy" maxlength="2" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">Notes: <span class="text-muted">({{200-payItemStructureDetail.notes.length}} Characters)</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="payItemStructureDetail.notes" ng-trim="false" ng-maxlength="200" style="height: 100px;"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            PPM Chapters:
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="ppmChapter in payItemStructureDetail.ppmChapters">
                                [<a href="" ng-click="removePpmChapter(ppmChapter)">Remove</a>]&nbsp;<a href="{{ppmChapter.webLink}}" target="_blank">{{ppmChapter.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-2">
                            New:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newPpmChapter" typeahead-on-select="addPpmChapter(); newPpmChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PC', payItemStructureDetail.ppmChapters)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            Standards:
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="standard in payItemStructureDetail.standards">
                                [<a href="" ng-click="removeStandard(standard)">Remove</a>]&nbsp;<a href="{{standard.webLink}}" target="_blank">{{standard.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-2">
                            New:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newStandard" typeahead-on-select="addStandard(); newStandard = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SD', payItemStructureDetail.standards)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            Specifications:
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="specification in payItemStructureDetail.specifications">
                                [<a href="" ng-click="removeSpecification(specification)">Remove</a>]&nbsp;<a href="{{specification.webLink}}" target="_blank">{{specification.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-2">
                            New:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newSpecification" typeahead-on-select="addSpecification(); newSpecification = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'SP', payItemStructureDetail.specifications)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4">Monitor:</div>
                        <div class="col-lg-8" ng-show="payItemStructureDetail.srsId == 0">
                            <input type="text" ng-model="payItemStructureDetail.monitor" typeahead-on-select="setStructureMonitor()" placeholder="Enter a user name" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="user as user.fullName for user in getUsers($viewValue)" typeahead-editable="false" class="form-control">
                        </div>
                        <div class="col-lg-1" ng-show="payItemStructureDetail.srsId != 0">
                            <a href="" ng-click="payItemStructureDetail.srsId = 0; payItemStructureDetail.monitor = ''">Remove</a>
                        </div>
                        <div class="col-lg-7" ng-show="payItemStructureDetail.srsId != 0">
                            {{payItemStructureDetail.monitor.fullName}}
                            <br/>
                            {{payItemStructureDetail.monitor.email}}
                            <br/>
                            {{payItemStructureDetail.monitor.phoneNumber}}
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            CPAM Chapters:
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="prepAndDocChapter in payItemStructureDetail.prepAndDocChapters">
                                [<a href="" ng-click="removePrepAndDocChapter(prepAndDocChapter)">Remove</a>]&nbsp;<a href="{{prepAndDocChapter.webLink}}" target="_blank">{{prepAndDocChapter.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-2">
                            New:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newPrepAndDocChapter" typeahead-on-select="addPrepAndDocChapter(); newPrepAndDocChapter = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'PD', payItemStructureDetail.prepAndDocChapters)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            Other:
                        </div>
                        <div class="col-lg-8">
                            <div ng-repeat="otherReference in payItemStructureDetail.otherReferences">
                                [<a href="" ng-click="removeOtherReference(otherReference)">Remove</a>]&nbsp;<a href="{{otherReference.webLink}}" target="_blank">{{otherReference.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">

                        </div>
                        <div class="col-lg-2">
                            New:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" ng-model="newOtherReference" typeahead-on-select="addOtherReference(); newOtherReference = '';" placeholder="" typeahead-min-length="1" typeahead-wait-ms="500" typeahead="link as link.name for link in getLinks($viewValue, 'OR', payItemStructureDetail.otherReferences)" typeahead-editable="false" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4">
                            Plan Quantity?
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="payItemStructureDetail.isPlanQuantity">
                                <option value="False">No</option>
                                <option value="True">Yes</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            Do Not Bid?
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="payItemStructureDetail.isDoNotBid">
                                <option value="False">No</option>
                                <option value="True">Yes</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-4">
                            Fixed Price?
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="payItemStructureDetail.isFixedPrice">
                                <option value="False">No</option>
                                <option value="True">Yes</option>
                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row" ng-show="payItemStructureDetail.isFixedPrice == 'True'">
                        <div class="col-lg-4">
                            Fixed Amount:
                        </div>
                        <div class="col-lg-8">
                            <input type="text" class="form-control" ng-model="payItemStructureDetail.fixedAmount" />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-lg-4">
                            Cost-Based Template:
                        </div>
                        <div class="col-lg-8">
                            <select class="form-control" ng-model="payItemStructureDetail.costBasedTemplate" ng-options="costBasedTemplate.name for costBasedTemplate in costBasedTemplates">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructureDetail.details.length}} Characters)</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="payItemStructureDetail.details" ng-trim="false" style="height: 300px;"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">Pending Information: <span class="text-muted">({{5000-payItemStructureDetail.pendingInformation.length}} Characters)</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="payItemStructureDetail.pendingInformation" ng-trim="false" style="height: 300px;"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">History:</div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">Complete History for ESS: <div class="col-lg-12">Details: <span class="text-muted">({{5000-payItemStructureDetail.essHistory.length}} Characters)</span></div></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">
                    <textarea class="form-control" ng-model="payItemStructureDetail.essHistory" ng-trim="false" style="height: 300px;"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11">Recent Changes for BOE:</div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-1">Date:</div>
                <div class="col-lg-3">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemStructureDetail.boeRecentChangeDate" is-open="boeRecentChangeDateOpened" maxlength="10" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="boeRecentChangeDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
                <div class="col-lg-7">
                    <span class="text-muted">({{200-payItemStructureDetail.BoeRecentChangeDescription.length}} Characters)</span>
                    <textarea class="form-control" ng-model="payItemStructureDetail.boeRecentChangeDescription" ng-trim="false"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">Structure: <span class="text-muted">({{5000-payItemStructureDetail.structureDescription.length}} Characters)</span></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea class="form-control" ng-model="payItemStructureDetail.structureDescription" ng-trim="false" style="height: 300px;"></textarea>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" ng-click="savePayItemStructure()">Submit</button>
                    &nbsp;
                    <button class="btn btn-default" ng-click="showStructureDetail = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="showPayItemDetail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            {{payItemDetail.id == 0 ? 'New' : 'Update'}} Pay Item for Structure {{payItemDetail.structureNumber}}
            <button type="button" class="close" ng-click="showPayItemDetail = false"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="panel-body">
            <br />
            <div class="row">
                <div class="col-lg-1">
                    Master File:
                </div>
                <div class="col-lg-1" ng-show="payItemDetail.id == 0">
                    <select class="form-control" ng-model="payItemDetail.masterFile" ng-options="masterFile.fileNumber for masterFile in masterFiles">
                        <option value="">--Select--</option>
                    </select>
                </div>
                <div class="col-lg-1" ng-show="payItemDetail.id > 0">
                    {{payItemDetail.masterFileId}}
                </div>
                <div class="col-lg-2">
                    Pay Item Number:
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="payItemDetail.payItemId" maxlength="12" />
                    <div class="alert alert-warning" ng-show="!payItemNumberIsValid()">
                        Pay Item Number is invalid based on the parent Structure
                    </div>
                </div>
                <div class="col-lg-2">
                    Unit of Measure:
                </div>
                <div class="col-lg-4" ng-show="!payItemDetail.isMixedUnit">
                    {{payItemDetail.primaryUnitCode}}
                    <span ng-show="payItemDetail.primaryUnitCode == 'LS'">
                        /{{payItemDetail.secondaryUnitCode}}
                    </span>
                </div>
                <div class="col-lg-2" ng-show="payItemDetail.isMixedUnit">
                    <select class="form-control" ng-model="payItemDetail.primaryUnit">
                        <option value="0">--Select--</option>
                        <option value="1">AC</option>
                        <option value="2">AS</option>
                        <option value="3">CF</option>
                        <option value="4">CY</option>
                        <option value="5">DA</option>
                        <option value="6">DD</option>
                        <option value="7">EA</option>
                        <option value="8">ED</option>
                        <option value="9">GA</option>
                        <option value="10">GM</option>
                        <option value="11">HR</option>
                        <option value="12">LB</option>
                        <option value="13">LF</option>
                        <option value="14">LO</option>
                        <option value="15">LS</option>
                        <option value="16">LU</option>
                        <option value="17">MB</option>
                        <option value="18">MH</option>
                        <option value="19">MI</option>
                        <option value="20">MG</option>
                        <option value="21">MO</option>
                        <option value="22">NM</option>
                        <option value="23">PA</option>
                        <option value="24">PB</option>
                        <option value="25">PI</option>
                        <option value="26">PL</option>
                        <option value="27">PM</option>
                        <option value="28">PS</option>
                        <option value="29">PW</option>
                        <option value="30">SF</option>
                        <option value="31">SY</option>
                        <option value="32">TH</option>
                        <option value="33">TN</option>
                        <option value="34">YD</option>
                    </select>
                </div>
                <div class="col-lg-2" ng-show="payItemDetail.primaryUnit == 15 && payItemDetail.isMixedUnit">
                    <select class="form-control" ng-model="payItemDetail.secondaryUnit">
                        <option value="0">--Select--</option>
                        <option value="1">AC</option>
                        <option value="2">AS</option>
                        <option value="3">CF</option>
                        <option value="4">CY</option>
                        <option value="5">DA</option>
                        <option value="6">DD</option>
                        <option value="7">EA</option>
                        <option value="8">ED</option>
                        <option value="9">GA</option>
                        <option value="10">GM</option>
                        <option value="11">HR</option>
                        <option value="12">LB</option>
                        <option value="13">LF</option>
                        <option value="14">LO</option>
                        <option value="15">LS</option>
                        <option value="16">LU</option>
                        <option value="17">MB</option>
                        <option value="18">MH</option>
                        <option value="19">MI</option>
                        <option value="20">MG</option>
                        <option value="21">MO</option>
                        <option value="22">NM</option>
                        <option value="23">PA</option>
                        <option value="24">PB</option>
                        <option value="25">PI</option>
                        <option value="26">PL</option>
                        <option value="27">PM</option>
                        <option value="28">PS</option>
                        <option value="29">PW</option>
                        <option value="30">SF</option>
                        <option value="31">SY</option>
                        <option value="32">TH</option>
                        <option value="33">TN</option>
                        <option value="34">YD</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Short Description:
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="payItemDetail.shortDescription" maxlength="255" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    Pay Item Description:
                </div>
                <div class="col-lg-10">
                    <input type="text" class="form-control" ng-model="payItemDetail.description" maxlength="255" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">Monitor:</div>
                <div class="col-lg-4" ng-show="payItemDetail.srsId == 0">
                    <input type="text" ng-model="payItemDetail.monitor" typeahead-on-select="setItemMonitor()" placeholder="Enter a user name" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="user as user.fullName for user in getUsers($viewValue)" typeahead-editable="false" class="form-control">
                </div>
                <div class="col-lg-1" ng-show="payItemDetail.srsId != 0">
                    <a href="" ng-click="payItemDetail.srsId = 0; payItemDetail.monitor = ''">Remove</a>
                </div>
                <div class="col-lg-3" ng-show="payItemDetail.srsId != 0">
                    {{payItemDetail.monitor.fullName}}
                    <br />
                    {{payItemDetail.monitor.email}}
                    <br />
                    {{payItemDetail.monitor.phoneNumber}}
                </div>
                <div class="col-lg-2">
                    Cost-Based Template:
                </div>
                <div class="col-lg-5">
                    <select class="form-control" ng-model="payItemDetail.costBasedTemplate" ng-options="costBasedTemplate.name for costBasedTemplate in costBasedTemplates">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-3">
                    Supplemental Description Required?
                </div>
                <div class="col-lg-1">
                    <select class="form-control" ng-model="payItemDetail.isSupplementalDescriptionRequired">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    Combine Like Items?
                </div>
                <div class="col-lg-1">
                    <select class="form-control" ng-model="payItemDetail.isLikeItemsCombined">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    Federal Funded?
                </div>
                <div class="col-lg-1">
                    <select class="form-control" ng-model="payItemDetail.isFederalFunded">
                        <option value="False">No</option>
                        <option value="True">Yes</option>
                    </select>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    LRE Reference Price:
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="payItemDetail.lreReferencePrice" />
                </div>
                <div class="col-lg-2">
                    Concrete Factor:
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="payItemDetail.concreteFactor" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-2">
                    DQE Reference Price:
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="payItemDetail.dqeReferencePrice" />
                </div>
                <div class="col-lg-2">
                    Asphalt Factor:
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" ng-model="payItemDetail.asphaltFactor" />
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            Dates:
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Effective:
                        </div>
                        <div class="col-lg-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemDetail.effectiveDate" is-open="effectiveOpened" maxlength="10" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="effectiveOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Obsolete:
                        </div>
                        <div class="col-lg-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="payItemDetail.obsoleteDate" is-open="obsoleteOpened" maxlength="10" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="obsoleteOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">Notes for Concrete and Asphalt Factors: <span class="text-muted">({{5000-payItemDetail.factorNotes.length}} Characters)</span></div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <textarea class="form-control" ng-model="payItemDetail.factorNotes" ng-trim="false" ng-maxlength="5000" style="height: 300px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-primary" ng-click="savePayItem()">Submit</button>
                    &nbsp;
                    <button class="btn btn-default" ng-click="showPayItemDetail = false">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>