<div class="row">
    <div class="col-lg-3">
        Select Master File to copy from
    </div>
    <div class="col-lg-3">
        Specify new Master File
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <select class="form-control" ng-model="fileNumberCopy" ng-options="masterFile.fileNumber for masterFile in masterFiles">
            <option value="">--Select--</option>
        </select>
    </div>
    <div class="col-lg-3" >
        <input type="number" class="form-control" ng-model="fileNumberNew" />
    </div>
    <div class="col-lg-3">
        <button class="btn btn-primary" ng-click="addMasterFile()">Submit</button>
    </div>
</div>