<div class="row" ng-show="!showChapters">
    <form method="POST" id="ViewBoeReport" autocomplete="off">
        <div class="col-lg-9">
            <!--<a href="" ng-click="showChapters = true; showList = false;">Back to BOE Chapter Index</a>-->
            <a href="" title="Click to go to the BOE chapter index" ng-click="navigate()">Back to BOE Chapter Index</a>
        </div>
        <div class="col-lg-1" style="text-align: right">
            Output Format
        </div>
        <div class="col-lg-2">
            <input type="radio" name="reportFormat" ng-model="reportFormat.type" value="PDF"> PDF
            <input type="radio" name="reportFormat" ng-model="reportFormat.type" value="EXCELOPENXML"> Excel
        </div>
        <div class="col-lg-10"></div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" title="Click to download the report - file type: PDF file size: unknown"
                    ng-click="viewBoeReport()">
                Download BOE Chapter
            </button>
            <input type="hidden" id="hiddenStructureName" name="hiddenStructureName" value="">
        </div>
    </form>
</div>
<div class="row" ng-show="showChapters">
    <div class="col-lg-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                BOE Chapter Index
            </div>
            <div class="panel-body">
                <div>
                    <a href="" title="Click to view pay item structures 000- 199" ng-click="listItems(' 0')">
                        <pre> 000- 199</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 200- 299" ng-click="listItems(' 2')">
                        <pre> 200- 299</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 300- 399" ng-click="listItems(' 3')">
                        <pre> 300- 399</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 400- 499" ng-click="listItems(' 4')">
                        <pre> 400- 499</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 500- 599" ng-click="listItems(' 5')">
                        <pre> 500- 599</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 600- 699" ng-click="listItems(' 6')">
                        <pre> 600- 699</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 700- 799" ng-click="listItems(' 7')">
                        <pre> 700- 799</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 800- 899" ng-click="listItems(' 8')">
                        <pre> 800- 899</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 900- 999" ng-click="listItems(' 9')">
                        <pre> 900- 999</pre>
                    </a>
                </div>
                <div>
                    <a href="" title="Click to view pay item structures 1000-1999" ng-click="listItems('1')">
                        <pre>1000-1999</pre>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" ng-show="showList">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Structure ID</td>
                            <td>Title</td>
                            <td>Unit</td>
                        </tr>
                        <tr>
                            <td>
                                Filters:&nbsp;&nbsp;
                                <a href="" title="Click to apply the current filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                                <a href="" title="Click to clear the current filters" ng-click="clearAllFilters()">Clear</a>
                            </td>
                            <td><input class="form-control" title="Filter name" ng-model="filter.name"></td>
                            <td><input class="form-control" title="Filter title" ng-model="filter.title"></td>
                            <td><input class="form-control" title="Filter unit" ng-model="filter.unit"></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start="structure in filteredItems | orderBy : 'name'">
                            <td>
                                <a href="" title="Click to expand/collapse the pay item structure details" ng-click="toggleStructureDetail(structure)">
                                    <span ng-show="!structure.showDetail" class="glyphicon glyphicon-plus"></span>
                                    <span ng-show="structure.showDetail" class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                            <td>
                                <a href="" title="filter this structure number" ng-click="filterStructure(structure.name)">
                                    <pre>{{structure.name}}</pre>
                                </a>
                            </td>
                            <td>{{structure.title}}</td>
                            <td>{{structure.unit}}</td>
                        </tr>
                        <tr ng-repeat-end ng-show="structure.showDetail">
                            <td colspan="4">

                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Pay Item Structure Detail
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Structure ID</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <strong>Title</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <pre>{{structure.name}}</pre>
                                            </div>
                                            <div class="col-lg-10">
                                                {{structure.title}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-2">
                                                <strong>Unit</strong>
                                            </div>
                                            <!--<div class="col-lg-4">
                                                <strong>Accuracy</strong>
                                            </div>-->
                                            <div class="col-lg-3">
                                                <strong>Plan Quantity?</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-2">
                                                {{structure.unit}}
                                            </div>
                                            <!--<div class="col-lg-4">
                                                {{structure.accuracy}}
                                            </div>-->
                                            <div class="col-lg-3">
                                                {{structure.planQuantity}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Notes</strong>
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="white-space: pre-wrap;">{{structure.notes}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <strong>Details</strong>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="white-space: pre-wrap;">{{structure.details}}</div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <strong>Plan Summary Box</strong>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="white-space: pre-wrap;">{{structure.planSummary}}</div>
                                        </div>
                                    </div>
                                    <hr />
                                    <!--<div class="row">
                                        <div class="col-lg-2">
                                            <strong>Design Forms and Documentation</strong>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="white-space: pre-wrap;">{{structure.designForms}}</div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <strong>Construction Forms and Documentation</strong>
                                        </div>
                                        <div class="col-lg-10">
                                            <div style="white-space: pre-wrap;">{{structure.constructionForms}}</div>
                                        </div>
                                    </div>
                                    <hr />-->
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <strong>References</strong>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div cla
                                                    <div class="col-lg-2">
                                                        <strong>PPM Chapter</strong>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div style="white-space: pre-wrap;">{{structure.ppmChapterText}}</div>
                                                        <div ng-repeat="ppmChapter in structure.ppmChapters">
                                                            <a href="{{ppmChapter.webLink}}" title="Click to go to {{ppmChapter.name}} - opens a new browser window" target="_blank">{{ppmChapter.name}}</a>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <strong>CPAM Chapters</strong>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div style="white-space: pre-wrap;">{{structure.trnsportText}}</div>
                                                        <div ng-repeat="prepAndDocChapter in structure.prepAndDocChapters">
                                                            <a href="{{prepAndDocChapter.webLink}}" title="Click to go to {{prepAndDocChapter.name}} - opens a new browser window" target="_blank">{{prepAndDocChapter.name}}</a>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <strong>Other</strong>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div style="white-space: pre-wrap;">{{structure.otherText}}</div>
                                                        <div ng-repeat="otherReference in structure.otherReferences">
                                                            <a href="{{otherReference.webLink}}" title="Click to go to {{otherReference.name}} - opens a new browser window" target="_blank">{{otherReference.name}}</a>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <strong>Standards</strong>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div style="white-space: pre-wrap;">{{structure.standardsText}}</div>
                                                        <div ng-repeat="standard in structure.standards">
                                                            <a href="{{standard.webLink}}" title="Click to go to {{standard.name}} - opens a new browser window" target="_blank">{{standard.name}}</a>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <strong>Specifications</strong>
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <div style="white-space: pre-wrap;">{{structure.specificationsText}}</div>
                                                        <div ng-repeat="specification in structure.specifications">
                                                            <a href="{{specification.webLink}}" title="Click to go to {{specification.name}} - opens a new browser window" target="_blank">{{specification.name}}</a>
                                                        </div>
                                                        <hr />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Struct.</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.structureDetails}}</div>
                                            </div>
                                        </div>
                                        <hr />
                                        <strong>Pay Items</strong>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <td>Spec Book</td>
                                                            <td>Item</td>
                                                            <td>Description</td>
                                                            <td>Unit</td>
                                                            <td>TSP/Detail</td>
                                                            <td>Valid Date</td>
                                                            <td>Obsolete Date</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in structure.items | orderBy : ['specBook', 'name']">
                                                            <td>{{item.specBook}}</td>
                                                            <td><pre>{{item.name}}</pre></td>
                                                            <td>{{item.description}}</td>
                                                            <td>{{item.unit}}</td>
                                                            <td></td>
                                                            <td>{{item.validDate}}</td>
                                                            <td>{{item.obsoleteDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>