<form method="POST" id="ViewBoeReport" autocomplete="off">
    <div ng-show="!showChapters">
        <div class="row">
            <div class="col-lg-9">
                <a href="" title="Click to go to the BOE chapter index" focus-me="boeDetailFocus" ng-click="navigate(); boeDetailFocus = false; boeIndexFocus = true;">Back to BOE Chapter Index</a>
            </div>
            <div class="col-lg-3" style="text-align: right;">
                <span>Output Format</span>
                <span><input type="radio" name="reportFormat" ng-model="reportFormat.type" value="PDF"> PDF</span>
                <span><input type="radio" name="reportFormat" ng-model="reportFormat.type" value="EXCELOPENXML"> Excel</span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9" style="height:34px;">
                <span style="position:absolute; bottom:0; font-size:17px; font-weight:bold; line-height:1;">{{boeChapterTitle}}</span>
            </div>
            <div class="col-lg-3" style="text-align: right;">
                <button type="button" class="btn btn-primary" title="Click to download the report - file type: PDF file size: unknown" ng-click="viewBoeReport()">
                    Download BOE Chapter
                </button>
                <input type="hidden" id="hiddenStructureName" name="hiddenStructureName" value="">
            </div>
        </div>
    </div>
</form>
<div class="row" ng-show="showChapters">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                BOE Chapter Index
            </div>
            <div class="panel-body">
                <!-- Title attribute used by listItems function. Updates to title, requires changes to function. -->
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 000 - 199: MOT, Erosion Control, Litter Removal, Moving, Earthwork"
                       focus-me="boeIndexFocus"
                       ng-click="listItems($event, ' 0'); boeDetailFocus = true; boeIndexFocus = false;">
                        000 - 199<br />MOT, Erosion Control, Litter Removal, Moving, Earthwork
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 200 - 299: Base Courses"
                       ng-click="listItems($event, ' 2'); boeDetailFocus = true; boeIndexFocus = false;">
                        200 - 299<br />Base Courses
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 300 - 399: Surface Courses and Concrete Pavement"
                       ng-click="listItems($event, ' 3'); boeDetailFocus = true; boeIndexFocus = false;">
                        300 - 399<br />Surface Courses and Concrete Pavement
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 400 - 499: Structures, Drainage, Foundations"
                       ng-click="listItems($event, ' 4'); boeDetailFocus = true; boeIndexFocus = false;">
                        400 - 499<br />Structures, Drainage, Foundations
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 500 - 599: Incidental Construction, Curb, Sidewalk, Guardrail, Crash Cushions, Fencing, Turf"
                       ng-click="listItems($event, ' 5'); boeDetailFocus = true; boeIndexFocus = false;">
                        500 - 599<br />Incidental Construction, Curb, Sidewalk, Guardrail, Crash Cushions, Fencing, Turf
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 600 - 699: Traffic Control Signals and Devices, Conduit, Midblock Crosswalks, Traffic Monitoring Sites"
                       ng-click="listItems($event, ' 6'); boeDetailFocus = true; boeIndexFocus = false;">
                        600 - 699<br />Traffic Control Signals and Devices, Conduit, Midblock Crosswalks, Traffic Monitoring Sites
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 700 - 799: Signing, Pavement Markings, Lighting"
                       ng-click="listItems($event, ' 7'); boeDetailFocus = true; boeIndexFocus = false;">
                        700 - 799<br />Signing, Pavement Markings, Lighting
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 800 - 899: Mass Transit"
                       ng-click="listItems($event, ' 8'); boeDetailFocus = true; boeIndexFocus = false;">
                        800 - 899<br />Mass Transit
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 900 - 999: Developmental and Special Pay Items"
                       ng-click="listItems($event, ' 9'); boeDetailFocus = true; boeIndexFocus = false;">
                        900 - 999<br />Developmental and Special Pay Items
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures 1000 - 1999: Utilities"
                       ng-click="listItems($event, '1'); boeDetailFocus = true; boeIndexFocus = false;">
                        1000 - 1999<br />Utilities
                    </a>
                </div>
                <div class="boeChapterBtn">
                    <a href=""
                       title="View pay item structures Other"
                       ng-click="listItems($event, 'X'); boeDetailFocus = true; boeIndexFocus = false;">
                        Other<br />
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row" ng-show="showList">
    <div class="col-lg-12">
        <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <td></td>
                    <td>Structure ID</td>
                    <td>Title</td>
                    <td>Unit</td>
                </tr>
                <tr>
                    <td>
                        Filters:&nbsp;&nbsp;
                        <a href="" title="Click to apply the current filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                        <a href="" title="Click to clear the current filters" ng-click="clearAllFilters()">Clear</a>
                    </td>
                    <td><input class="form-control" title="Filter name" ng-model="filter.name"></td>
                    <td><input class="form-control" title="Filter title" ng-model="filter.title"></td>
                    <td><input class="form-control" title="Filter unit" ng-model="filter.unit"></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="structure in filteredItems | orderBy : 'name'">
                    <td>
                        <a href="" focus-me="structure.showDetail" title="Click to expand/collapse the pay item structure details" ng-click="toggleStructureDetail(structure);">
                            <span ng-class="!structure.showDetail ? 'glyphicon glyphicon-plus' : 'glyphicon glyphicon-minus'"></span>
                        </a>
                    </td>
                    <td>
                        <a href="" title="Filter to this structure number" ng-click="filterStructure(structure.name)">
                            <pre>{{structure.name}}</pre>
                        </a>
                    </td>
                    <td>{{structure.title}}</td>
                    <td>{{structure.unit}}</td>
                </tr>
                <tr ng-repeat-end ng-show="structure.showDetail">
                    <td colspan="4">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                Pay Item Structure Detail
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <strong>Structure ID</strong>
                                    </div>
                                    <div class="col-lg-10">
                                        <strong>Title</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <pre>{{structure.name}}</pre>
                                    </div>
                                    <div class="col-lg-10">
                                        {{structure.title}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2">
                                        <strong>Unit</strong>
                                    </div>
                                    <!--<div class="col-lg-4">
                                    <strong>Accuracy</strong>
                                </div>-->
                                    <div class="col-lg-3">
                                        <strong>Plan Quantity?</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-2">
                                        {{structure.unit}}
                                    </div>
                                    <!--<div class="col-lg-4">
                                    {{structure.accuracy}}
                                </div>-->
                                    <div class="col-lg-3">
                                        {{structure.planQuantity}}
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-2">
                                        <strong>Notes</strong>
                                    </div>
                                    <div class="col-lg-10">
                                        <div style="white-space: pre-wrap;">{{structure.notes}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <strong>Details</strong>
                                    </div>
                                    <div class="col-lg-10">
                                        <div style="white-space: pre-wrap;">{{structure.details}}</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-2">
                                        <strong>Plan Summary Box</strong>
                                    </div>
                                    <div class="col-lg-10">
                                        <div style="white-space: pre-wrap;">{{structure.planSummary}}</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>References</strong>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>PPM Chapter</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.ppmChapterText}}</div>
                                                <div ng-repeat="ppmChapter in structure.ppmChapters">
                                                    <a href="{{ppmChapter.webLink}}" title="Click to go to {{ppmChapter.name}} - opens a new browser window" target="_blank">{{ppmChapter.name}}</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>CPAM Chapters</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.trnsportText}}</div>
                                                <div ng-repeat="prepAndDocChapter in structure.prepAndDocChapters">
                                                    <a href="{{prepAndDocChapter.webLink}}" title="Click to go to {{prepAndDocChapter.name}} - opens a new browser window" target="_blank">{{prepAndDocChapter.name}}</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Other</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.otherText}}</div>
                                                <div ng-repeat="otherReference in structure.otherReferences">
                                                    <a href="{{otherReference.webLink}}" title="Click to go to {{otherReference.name}} - opens a new browser window" target="_blank">{{otherReference.name}}</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Standards</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.standardsText}}</div>
                                                <div ng-repeat="standard in structure.standards">
                                                    <a href="{{standard.webLink}}" title="Click to go to {{standard.name}} - opens a new browser window" target="_blank">{{standard.name}}</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Specifications</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.specificationsText}}</div>
                                                <div ng-repeat="specification in structure.specifications">
                                                    <a href="{{specification.webLink}}" title="Click to go to {{specification.name}} - opens a new browser window" target="_blank">{{specification.name}}</a>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <strong>Struct.</strong>
                                            </div>
                                            <div class="col-lg-10">
                                                <div style="white-space: pre-wrap;">{{structure.structureDetails}}</div>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>Pay Items</strong>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <table class="table table-bordered table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <td style="text-align: center;">Pay Item Year</td>
                                                            <td>Item</td>
                                                            <td>Description</td>
                                                            <td style="text-align: center;">Unit</td>
                                                            <td style="text-align: center;">Spec Type</td>
                                                            <td>Valid Date</td>
                                                            <td>Obsolete Date</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="item in structure.items | orderBy : ['specBook', 'name']">
                                                            <td style="text-align: center;">{{item.specBook}}</td>
                                                            <td><pre>{{item.name}}</pre></td>
                                                            <td>{{item.description}}</td>
                                                            <td style="text-align: center;">{{item.unit}}</td>
                                                            <td style="text-align: center;">{{item.specType}}</td>
                                                            <td>{{item.validDate}}</td>
                                                            <td>{{item.obsoleteDate}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>