<div class="growl">
    <div class="growl-item" ng-class="messages.length > 0 ? computeClasses(messages[0]) : ''" ng-hide="messages == undefined || messages.length == 0">
        <div class="panel panel-default" style="border-color: #000000">
            <div class="panel-heading">
                <span ng-show="messages.length > 0 && messages[0].severity == 'error'">
                    <strong style="color: red;">ERROR:</strong>
                </span>
                <span ng-show="messages.length > 0 && messages[0].severity != 'error'">
                    <strong>MESSAGE:</strong>
                </span>
                <button type="button" title="Click to close the message" type="button" class="close" ng-click="deleteMessages()">&times;</button>
            </div>
            <div class="panel-body">
                <div style="padding-top: 20px; padding-bottom: 20px;">
                    <div ng-show="messages.length > 1">
                        <ul>
                            <li ng-repeat="message in messages">
                                <strong>{{message.text}}</strong>
                            </li>
                        </ul>
                    </div>
                    <div ng-show="messages.length == 1">
                        <strong>{{messages[0].text}}</strong>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <!--<div class="growl-item alert" style="text-align: center;" ng-class="messages.length > 0 ? computeClasses(messages[0]) : ''" ng-hide="messages == undefined || messages.length == 0">
        <button type="button" title="Click to close the message" type="button" class="close" ng-click="deleteMessages()">&times;</button>
        <div ng-show="messages.length > 1">
            <ul>
                <li ng-repeat="message in messages">
                    <strong>{{(messages[0].severity == 'error' ? 'ERROR: ' : '') + message.text}}</strong>
                </li>
            </ul>    
        </div>
        <div ng-show="messages.length == 1">
            <strong>{{(messages[0].severity == 'error' ? 'ERROR: ' : '') + messages[0].text}}</strong>
        </div>
    </div>-->
</div>