<div class="row">
    <div class="col-lg-12">
        <h3>Project Selection</h3>
    </div>
</div>
<br/>
<div ng-show="copyMasterFileInProcess;">
    Master File is currently being copied.  Please wait...
</div>
<div ng-hide="copyMasterFileInProcess;">
    <div class="row">
        <div class="col-lg-1">
            <label for="projectNumber">Project Number:</label>
        </div>
        <div class="col-lg-2">
            <input id="projectNumber" type="text" ng-model="selectedProject" placeholder="123456-1-52-01" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="project as project.number for project in getProjects($viewValue)" typeahead-editable="false" typeahead-on-select="loadProject()" class="form-control">
        </div>
    </div>
</div>
<br />
<div class="row" ng-show="number != undefined && number != ''">
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-4">
                Project:
            </div>
            <div class="col-lg-8">
                {{number}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                District:
            </div>
            <div class="col-lg-8">
                {{district}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                County:
            </div>
            <div class="col-lg-8">
                {{county}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                Letting Date:
            </div>
            <div class="col-lg-8">
                {{lettingDate}}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-2">
                Description:
            </div>
            <div class="col-lg-10">
                {{description}}
            </div>
        </div>
    </div>
</div>
<br />