<div class="row">
    <div class="col-lg-12">
        <form method="POST" id="ViewBidToleranceReport" autocomplete="off">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Estimate Tolerances For Letting</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            Letting ID
                        </div>
                        <div class="col-lg-3">
                            <input name="lettingNumber" id="lettingNumber" title="Letting ID" type="text" ng-model="selectedLetting" placeholder="123451"
                                   typeahead-min-length="3" typeahead-wait-ms="500" typeahead="letting as letting.number for letting in getLettings($viewValue)"
                                   typeahead-editable="false" class="form-control" autocomplete="off">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                            Output Format
                        </div>
                        <div class="col-lg-3">
                            <input type="radio" name="reportFormat" title="Output - PDF" ng-model="reportFormat.type" value="PDF"> PDF
                            <input type="radio" name="reportFormat" title="Output - Excel" ng-model="reportFormat.type" value="EXCELOPENXML"> Excel
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-3">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-primary" title="Click to download the report - file type: {{reportFormat.type}} file size: unknown"
                                    ng-disabled="selectedLetting == undefined || selectedLetting == null || selectedLetting == ''"
                                    ng-click="viewBidToleranceReport()">
                                View Report
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

