<div class="row">
    <div class="col-lg-10">
        <h3>
            Project:&nbsp;{{estimate.number}}    
        </h3>
    </div>
    <div class="col-lg-2">
        <h4>
            Estimate Total: &nbsp;{{getTotal() | currency}}    
        </h4>
    </div>
</div>
<div class="row" ng-repeat="group in estimate.groups">
    <div class="col-lg-12">
        <div>
            <h4>
                <a href="" ng-click="group.isCollapsed = !group.isCollapsed">Estimate Group:&nbsp;{{group.description}}</a>
            </h4>
        </div>
        <div collapse="group.isCollapsed">
            <br />
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Pay Item</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Line Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payItem in group.payItems">
                        <td>{{payItem.number}}</td>
                        <td>{{payItem.description}}</td>
                        <td>{{payItem.quantity}}</td>
                        <td><input type="text" class="form-control" ng-model="payItem.price" /></td>
                        <td>{{payItem.quantity * payItem.price | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br/>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-lg-10">
        <button class="btn btn-primary" ng-click="saveEstimate()">Submit</button>
    </div>
</div>
<br/>