<!--
/*
    project 
    {
        id
        description
        district
        county
        lettingDate
        isAvailable
        userHasCustody
    },
    workingEstimate 
    {
        projectVersionId
        projectSnapshotId
        projectVersion
        projectSnapshot
        label
        created
        lastUpdated
        estimate
        comment
        owner
        source 
    } 
    versions[]
    {
        projectVersionId
        owner
        projectVersion
        source
        snapshots[]
        {
            projectSnapshotId
            projectSnapshot
            created
            lastUpdated
            comment
            estimate
            label
        }
    }
    */    
-->
<div class="row">
    <div class="col-lg-12">
        <h3>Project Selection</h3>
    </div>
</div>
<br/>
<div ng-show="copyMasterFileInProcess;">
    Master File is currently being copied.  Please wait...
</div>
<div ng-hide="copyMasterFileInProcess;">
    <div class="row">
        <div class="col-lg-1">
            <label for="projectNumber">Project Number:</label>
        </div>
        <div class="col-lg-2">
            <input id="projectNumber" type="text" ng-model="selectedProject" placeholder="123456-1-52-01" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="project as project.number for project in getProjects($viewValue)" typeahead-editable="false" typeahead-on-select="loadProject()" class="form-control">
        </div>
    </div>
</div>
<br />
<div ng-show="project != undefined && project != null">
    <div class="row">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-4">
                    Project:
                </div>
                <div class="col-lg-8">
                    {{project.number}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    District:
                </div>
                <div class="col-lg-8">
                    {{project.district}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    County:
                </div>
                <div class="col-lg-8">
                    {{project.county}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    Letting Date:
                </div>
                <div class="col-lg-8">
                    {{project.lettingDate}}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-2">
                    Description:
                </div>
                <div class="col-lg-10">
                    {{project.description}}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-success" ng-click="createProjectVersionFromWt(project)">Create Project Version from Web Trns*port</button>
        </div>
    </div>
    <hr/>
    <div ng-show="workingEstimate != undefined && workingEstimate != null && workingEstimate.projectVersionId != 0">
        <div class="row">
            <div class="col-lg-12">
                <h3>Working Estimate</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Version:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.projectVersion}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Snapshot:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.projectSnapshot}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Source:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.source}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Created:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.created}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Last Updated:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.lastUpdated}}
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Estimate:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.estimate | currency}}
            </div>
        </div>
        <!--
            <div class="row" ng-show="label == 1 || label == 2">
            <div class="col-lg-2">
                <br />
                <button class="btn btn-success" ng-click="takeSnapshot(workingEstimate)">Take {{label == 1 ? 'Phase II' : 'Phase III'}} Snapshot</button>
            </div>
        </div>
        -->
    </div>
    <br/>
    <!--
    <div class="row">
        <div class="col-lg-2">
            <button class="btn btn-primary" ng-click="copyWtProject()">Create Working Estimate from Web Transport</button>
        </div>
        <div class="col-lg-2" ng-show="workingEstimate != undefined && workingEstimate != null && workingEstimate.id > 0">
            <button class="btn btn-primary" ng-click="copyProjectVersion(workingEstimate)">Take Snapshot from Working Estimate</button>
        </div>
    </div>
    <br />
    <br />
    <div class="row" ng-show="otherSnapshots != undefined && otherSnapshots != null && otherSnapshots.length > 0">
        <div class="col-lg-12">
            Snapshots:
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <td width="5%"></td>
                        <td width="20%">Owner</td>
                        <td width="30%">Source</td>
                        <td width="5%">Snapshot</td>
                        <td width="10%">Created</td>
                        <td width="10%">Last Updated</td>
                        <td width="10%">Estimate</td>
                        <td width="10%">Label</td>
                    </tr>
                </thead>
                <tbody ng-repeat="otherVersion in otherVersions">
                    <tr>
                        <td>
                            <a href="" ng-click="copyProjectVersion(otherVersion)">Copy</a>
                        </td>
                        <td>{{otherVersion.owner}}</td>
                        <td>{{otherVersion.source}}</td>
                        <td>{{otherVersion.snapshot}}</td>
                        <td>{{otherVersion.created}}</td>
                        <td>{{otherVersion.lastUpdated}}</td>
                        <td>{{otherVersion.estimate | currency}}</td>
                        <td>{{otherVersion.label}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
    -->
</div>
