<!--<div class="row">
    <br />
    <form method="POST" action="report/ViewItemAverageReport">
        <div class="row">
            <div class="col-lg-2">
                Item Average Unit Cost
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3">
                Select Market Area(s)
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
                <select name="marketAreas" multiple>
                    <option ng-selected="u.selected" ng-repeat="m in marketAreas" value="{{m.name}}">{{m.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <button class="btn btn-primary" type="submit">View Item Average</button>
        </div>
    </form>
    <form method="POST" action="report/ViewProposalSummaryReport">
        <div class="row">
            <div class="col-lg-2">
                Proposal Summary Report
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-3">
                Proposal
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-2">
                <input id="proposalNumber" type="text" ng-model="selectedProposal" placeholder="123451" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="proposal as proposal.number for proposal in getProposals($viewValue)" typeahead-editable="false" typeahead-on-select="loadProposal()" class="form-control">
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-3">
            </div>
            <button class="btn btn-primary" type="submit">View Proposal Summary</button>
        </div>
    </form>
</div>-->
