<div class="row">
    <div class="col-lg-1">
        <h4>Search:</h4>
    </div>
    <div class="col-lg-2">
        <input id="proposalNumber" type="text" ng-model="selectedProposal" placeholder="123451" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="proposal as proposal.number for proposal in getProposals($viewValue)" typeahead-editable="false" typeahead-on-select="loadProposal()" class="form-control">
    </div>
</div>
<hr />
<div ng-show="proposal != undefined && proposal != null">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Selected Proposal</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            Proposal:
                        </div>
                        <div class="col-lg-10">
                            {{proposal.number}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            Description:
                        </div>
                        <div class="col-lg-10">
                            {{proposal.description}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            District:
                        </div>
                        <div class="col-lg-10">
                            {{proposal.district}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            County:
                        </div>
                        <div class="col-lg-10">
                            {{proposal.county}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            Letting Date:
                        </div>
                        <div class="col-lg-10">
                            {{proposal.lettingDate}}
                        </div>
                    </div>
                    <br />
                    <div ng-if="canSnapshotProposal()">
                        <div class="row" ng-show="proposal.nextEstimate != undefined && proposal.nextEstimate != null && proposal.nextEstimate != ''">
                            <div class="col-lg-12">
                                <div class="checkbox">
                                    <label>
                                        <strong>Apply {{proposal.nextEstimate}} Label to Current Working Estimate?</strong>
                                        <input type="checkbox" ng-model="proposal.takeLabeledSnapshot">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-primary" ng-show="!confirmSnapshotWorkingEstimate" ng-click="confirmSnapshotWorkingEstimate = true">Snapshot Working Estimate</button>
                                <div class="alert alert-warning" ng-show="confirmSnapshotWorkingEstimate">
                                    Click 'Yes' to snapshot your working estimate or 'No' to cancel&nbsp;&nbsp;
                                    <button class="btn btn-default" ng-click="snapshotWorkingEstimate(proposal); confirmSnapshotWorkingEstimate = false">Yes</button>
                                    <button class="btn btn-default" ng-click="confirmSnapshotWorkingEstimate = false">No</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Projects</h4>        
                </div>
                <div class="panel-body">
                    <div class="row" ng-show="projects != 'undefined' && projects != null && projects.length > 0">
                        <div class="col-lg-12">
                            <table class="table table-bordered table-condensed table-hover">
                                <thead>
                                    <tr>
                                        <td>Project</td>
                                        <td>Owner</td>
                                        <td>Custody</td>
                                        <td>Working Estimate</td>
                                        <td>Current Label</td>
                                        <td>
                                            <button class="btn btn-default" ng-click="checkProjectSync()" ng-disabled="isSyncCheckInProgress || !hasCustodyAndEstimate">Check Synchronization</button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="project in projects">
                                        <td>
                                            <a href="#/home_project/{{project.number}}">{{project.number}}</a>
                                        </td>
                                        <td>{{project.owner}}</td>
                                        <td>
                                            <span class="text-success glyphicon glyphicon-ok" ng-show="project.hasCustody"></span>
                                            <span class="text-danger glyphicon glyphicon-remove" ng-show="!project.hasCustody"></span>
                                        </td>
                                        <td>
                                            <span class="text-success glyphicon glyphicon-ok" ng-show="project.hasWorkingEstimate"></span>
                                            <span class="text-danger glyphicon glyphicon-remove" ng-show="!project.hasWorkingEstimate"></span>
                                        </td>
                                        <td>{{project.label}}</td>
                                        <td>
                                            <span ng-show="project.isSynced == null">Pending...</span>
                                            <span class="text-success glyphicon glyphicon-ok" ng-show="project.isSynced == true"></span>
                                            <span class="text-danger glyphicon glyphicon-remove" ng-show="project.isSynced == false"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>