<div class="row">
    <div class="col-lg-12">
        <h3>Project Selection</h3>
        <form class="form-inline" role="form">
            <div class="form-group">
                <label for="projectNumber">Project Number:</label>
                <input id="projectNumber" type="text" class="form-control" placeholder="123456-1-52-01">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <div><i class="text-warning">display after project search</i></div>
        <h4>Project Information:</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div><strong>District:</strong> 1</div>
        <div><strong>Market Area:</strong> 10</div>
        <div><strong>County(ies):</strong> 16 - Polk</div>
        <div><strong>Letting Date:</strong> June 1, 2014</div>
        <br />
        <div><strong>PSEE Contact:</strong> Sara Jones</div>
        <div><strong>Email:</strong> sara.jones@dot.state.fl.us</div>
    </div>
    <div class="col-lg-4">
        <div>
            <strong>Project Description:</strong> US 41 from here to there. Lorem ipsum dolor sit amet, ex sit prompta ornatus, an est eius summo, nonumy accusamus prodesset in sit. Fabulas repudiandae ei cum, eum odio putant conceptam te, dicant nominati no eum.
        </div>
        <br />
        <div><strong>Bridge Numbers:</strong> 160001, 160002</div>
    </div>
    <div class="col-lg-4">
        <div><strong>Designer:</strong> Joe Smith</div>
    </div>
</div>
<hr />
<div id="newProject">
    <div><i class="text-warning">new project - not in DQE</i></div>
    <h4>Select Source</h4>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios11" value="option1" checked>
            Import Project from PrP-AASHTOWare Project Preconstruction <i class="text-warning">open in working estimate tab</i>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios12" value="option2">
            Import Project from LRE <i class="text-warning">go to LRE tab</i>
        </label>
    </div>
    <br />
    <h4>Associated Proposal</h4>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios13" value="option3">
            T3451
        </label>
    </div>
    <br />
    <h4>Associated LS/DB Detail</h4>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios14" value="option4">
            T3451LS
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios15" value="option5">
            123456-1-52-01LS
        </label>
    </div>
    <div><i class="text-warning">if LS/DB Detail is selected - after submission, display in the "LS/DB Detail" sub-tab on the "Working Estimate" tab.</i></div>
</div>
<hr />
<div id="existingProject">
    <div><i class="text-warning">existing project - in DQE</i></div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios11" value="option1" checked>
            Open Current Working Estimate
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios12" value="option2">
            Select from Existing Version <i class="text-warning">open in gaming tab</i>
        </label>
    </div>
    <div style="width: 200px;">
        <select class="form-control">
            <option>Version 1</option>
            <option>Version 2</option>
            <option>Version 3</option>
            <option>Version 4</option>
            <option>Version 5</option>
        </select>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios12" value="option2">
            Select from Existing Snapshot <i class="text-warning">open in snapshot tab</i>
        </label>
    </div>
    <div style="width: 200px;">
        <select class="form-control">
            <option>Snapshot 1</option>
            <option>Snapshot 2</option>
            <option>Snapshot 3</option>
            <option>Snapshot 4</option>
            <option>Snapshot 5</option>
        </select>
    </div>
    <br />
    <h4>Associated Proposal</h4>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios13" value="option3">
            T3451
        </label>
    </div>
    <br />
    <h4>Associated LS/DB Detail</h4>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios14" value="option4">
            T3451LS
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="optionsRadios1" id="optionsRadios15" value="option5">
            123456-1-52-01LS
        </label>
    </div>
    <div><i class="text-warning">if LS/DB Detail is selected - after submission, display in the "LS/DB Detail" sub-tab on the "Working Estimate" tab.</i></div>
</div>
<hr />
<div>
    <button class="btn btn-primary">Submit</button>
</div>
<br />
<div>
    <button class="btn btn-default">Export Project Prices to PrP-AASHTOWare Project</button>
</div>
<br />
<div>
    <button class="btn btn-primary">Lock Project Design Data in PrP-AASHTOWare Project Preconstruction</button>
</div>
<br />