<div class="col-lg-6">
    <form method="POST" id="ViewBidToleranceReport" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Bid Tolerance Levels</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        Letting Id
                    </div>
                    <div class="col-lg-2">
                        <input name="letting" id="letting" type="text" ng-model="selectedLetting" placeholder="123451" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="letting as letting.number for letting in getLettings($viewValue)" typeahead-editable="false" class="form-control" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>