<div class="col-lg-6">
    <form method="POST" id="ViewUnbalancedItemsReport" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Unbalanced Items</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        Letting Id
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>