<div class="row">
    <div class="col-lg-12">
        <h3>Project Selection</h3>
    </div>
</div>
<br/>
<div ng-show="copyMasterFileInProcess;">
    Master File is currently being copied.  Please wait...
</div>
<div ng-hide="copyMasterFileInProcess;">
    <div class="row">
        <div class="col-lg-1">
            <label for="projectNumber">Project Number:</label>
        </div>
        <div class="col-lg-2">
            <input id="projectNumber" type="text" ng-model="selectedProject" placeholder="123456-1-52-01" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="project as project.number for project in getProjects($viewValue)" typeahead-editable="false" typeahead-on-select="loadProject()" class="form-control">
        </div>
    </div>
</div>
<hr />
<div ng-show="project != undefined && project != null">
    <div class="row">
        <div class="col-lg-12">
            <h3>Selected Project</h3>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-2">
                    Project:
                </div>
                <div class="col-lg-10">
                    {{project.number}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    District:
                </div>
                <div class="col-lg-10">
                    {{project.district}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    County:
                </div>
                <div class="col-lg-10">
                    {{project.county}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    Letting Date:
                </div>
                <div class="col-lg-10">
                    {{project.lettingDate}}
                </div>
            </div>
            <br/>
            <div class="row" ng-show="proposals != 'undefined' && proposals != null && proposals.length > 0">
                <div class="col-lg-12">
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <td>Proposal</td>
                                <td>Source</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proposal in proposals">
                                <td>
                                    <a href="#/home_selection_proposal/{{proposal.number}}">{{proposal.number}}</a>
                                </td>
                                <td>{{proposal.source}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br/>    
            <div class="row" ng-show="project.isAvailable == false">
                <div class="col-lg-12">
                    <strong>Custody Owner</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {{project.custodyOwner}}
                    <span ng-show="project.userHasCustody == true || project.isAvailable == true">&nbsp;&nbsp;</span>
                    <button ng-show="project.userHasCustody == true" class="btn btn-warning" ng-click="releaseCustody(project)">Check In</button>
                    <button ng-show="project.isAvailable == true" class="btn btn-success" ng-click="aquireCustody(project)">Check Out</button>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-lg-2">
                    Description:
                </div>
                <div class="col-lg-10">
                    {{project.description}}
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" ng-show="project.userHasCustody == true">
        <div class="col-lg-12">
            <hr />
            <button class="btn btn-success" ng-click="createProjectVersionFromWt(project)">Create Project Version from Web Trns*port</button>
            <!--
            <br/><br/>
            <button class="btn btn-success" ng-click="createProjectVersionFromLre(project)">Create Project Version from LRE</button>    
            -->
        </div>
    </div>
    <div ng-show="workingEstimate != undefined && workingEstimate != null && workingEstimate.projectVersionId != 0">
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <h3>Working Estimate</h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-1">
                Version:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.projectVersion}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                Estimate:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.projectSnapshot}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                Source:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.source}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                Created:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.created}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                Last Updated:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.lastUpdated}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                Estimate:
            </div>
            <div class="col-lg-11">
                {{workingEstimate.estimate | currency}}
            </div>
        </div>
        <div ng-if="project.userHasCustody == true">
            <br />
            <div class="row">
                <div class="col-lg-1">
                    Synchronized:
                </div>
                <div class="col-lg-11">
                    <span ng-show="isSynced == null">Pending...</span>
                    <span class="text-success glyphicon glyphicon-ok" ng-show="isSynced == true"></span>
                    <span class="text-danger glyphicon glyphicon-remove" ng-show="isSynced == false"></span>&nbsp;&nbsp;
                    <span ng-show="isSynced == false">
                        <button class="btn btn-warning" ng-click="synchronizeWorkingEstimate(workingEstimate)">Synchronize New Version with Web Trns*Port</button>
                    </span>
                </div>
            </div>
        </div>
        <br/>
        <div class="row" ng-if="project.userHasCustody == true">
            <div class="col-lg-12">Notes: <span class="text-muted">({{500-project.comment.length}} Characters)</span></div>
        </div>
        <div class="row" ng-if="project.userHasCustody == true">
            <div class="col-lg-12">
                <textarea class="form-control" ng-model="project.comment" ng-trim="false" ng-maxlength="500" style="height: 100px;"></textarea>
            </div>
        </div>
        <br/>
        <div class="row" ng-if="project.userHasCustody == true">
            <div class="col-lg-12">
                <button class="btn btn-default" ng-click="saveComment(project)">Submit Comment</button>
            </div>
        </div>
        <br/>
        <div ng-if="project.userHasCustody == true">
            <div class="row" ng-show="project.nextLabel != undefined && project.nextLabel != null && project.nextLabel != ''">
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label>
                            <strong>Apply {{project.nextLabel}} Label to Current Working Estimate?</strong>
                            <input type="checkbox" ng-model="project.takeLabeledSnapshot">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-success" ng-click="snapshotWorkingEstimate(project)">Snapshot Working Estimate</button>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row" ng-if="versions != undefined && versions != null && versions.length > 0">
        <div class="col-lg-12">
            <h3>Project Versions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div ng-repeat="version in versions">
                <hr />
                <div ng-class="(version.isCurrentOwner && version.hasWorkingEstimate) ? 'alert alert-success' : ''">
                    <div class="row">
                        <div class="col-lg-1">
                            <strong>Version:</strong> {{version.projectVersion}}
                        </div>
                        <div class="col-lg-3">
                            <strong>Owner:</strong> {{version.owner}}
                        </div>
                        <div ng-class="project.userHasCustody == true && version.isCurrentOwner && !version.hasWorkingEstimate ? 'col-lg-6' : 'col-lg-8'">
                            <div class="text-right">
                                <strong>Source:</strong> {{version.source}}
                            </div>
                        </div>
                        <div class="col-lg-2" ng-if="project.userHasCustody == true && version.isCurrentOwner && !version.hasWorkingEstimate">
                            <div class="text-right">
                                <button class="btn btn-success" ng-click="assignWorkingEstimate(version)">Make Working Estimate</button>    
                            </div>
                        </div>
                        <br/><br/>
                    </div>
                    <table class="table table-bordered table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <td style="width: 5%" ng-show="project.userHasCustody == true"></td>
                                <td style="width: 5%">Estimate</td>
                                <td style="width: 5%">Working Estimate</td>
                                <td style="width: 10%">Created</td>
                                <td style="width: 10%">Last Updated</td>
                                <td ng-class="project.userHasCustody == true ? {width: 50%;} : {width: 55%;}">Comment</td>
                                <td style="width: 10%">Estimate</td>
                                <td style="width: 5%">Label</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="snapshot in version.snapshots">
                                <td ng-show="project.userHasCustody == true">
                                    <a href="" ng-click="createProjectVersionFromEstimate(snapshot)">Create New Version</a>
                                </td>
                                <td>{{snapshot.projectSnapshot}}</td>
                                <td>{{snapshot.isWorkingEstimate}}</td>
                                <td>{{snapshot.created}}</td>
                                <td>{{snapshot.lastUpdated}}</td>
                                <td>{{snapshot.comment}}</td>
                                <td>{{snapshot.estimate | currency}}</td>
                                <td>{{snapshot.label}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
