<div class="col-lg-6">
    <form method="POST" id="ViewUnbalancedItemsReport" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Unbalanced Items</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3">
                        Enter Proposal
                    </div>
                    <div class="col-lg-2">
                        <input name="proposalNumber" id="proposalNumber" type="text" title="Proposal number" ng-model="selectedProposal" ng-change="proposalChange()" placeholder="123451" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="proposal as proposal.number for proposal in getProposals($viewValue)" typeahead-editable="false" class="form-control" autocomplete="off">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        Show Estimate
                    </div>
                    <div class="col-lg-3">
                        <select name="showEstimate" title="Show estimate" class="form-control" ng-model="showEstimate" ng-disabled="selectedProposal == undefined || selectedProposal == null || selectedProposal == ''">
                            <option value="1">Yes</option>
                            <option value="2">No</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        Sort By
                    </div>
                    <div class="col-lg-3">
                        <input type="radio" name="sort" ng-model="reportFormat.sort" value="1"> Line Number
                        <input type="radio" name="sort" ng-model="reportFormat.sort" value="2"> Magnitude
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                        Output Format
                    </div>
                    <div class="col-lg-3">
                        <input type="radio" name="reportFormat" ng-model="reportFormat.type" value="PDF"> PDF
                        <input type="radio" name="reportFormat" ng-model="reportFormat.type" value="EXCELOPENXML"> Excel
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-primary" title="Click to download the report - file type: PDF file size: unknown"
                                ng-disabled="selectedProposal == undefined || selectedProposal == null || selectedProposal == '' || showEstimate == undefined || showEstimate == null || showEstimate == ''"
                                ng-click="viewUnbalancedItems()">
                            View Report
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>