<h4>Select Bid History Search Criteria</h4>
<i class="text-warning">populate criteria based on the estimator's profile values (originally set by administrator's defaults), and keep changes overridden by estimator for the specific project</i>
<br />
<br />
<div class="row">
    <div class="col-lg-4">
        <strong>Contract Type:</strong>
        <div class="radio">
            <label>
                <input type="radio" name="contractTypeRadios" id="contractTypeRadios1" value="option1" checked>
                All Contracts
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="contractTypeRadios" id="contractTypeRadios2" value="option2">
                Construction
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="contractTypeRadios" id="contractTypeRadios3" value="option3">
                Maintenance
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="contractTypeRadios" id="contractTypeRadios4" value="option3">
                Other
            </label>
        </div>
        <br />
        <strong>Quantities:</strong>
        <div class="radio">
            <label>
                <input type="radio" name="quantitiesRadios" id="quantitiesRadios1" value="option1" checked>
                By Project
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="quantitiesRadios" id="quantitiesRadios2" value="option1">
                By Bid Proposal (Rolled Up)
            </label>
        </div>
        <br />
        <strong>Dates:</strong>
        <br />
        <div>
            <datepicker min-date="minDate" show-weeks="true" ></datepicker>
        </div>
        <div>
            <strong>To</strong>
        </div>
        <div>
            <datepicker min-date="minDate" show-weeks="true" ></datepicker>
        </div>
        <br />
        <div>
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
        <i class="text-warning">goes to prices tab which contains a full list of pay items, quantities, default unit prices, and extended amounts with the item price populated based on the selected parameters</i>
    </div>
    <div class="col-lg-4">
        <strong>Work Type:</strong>
        <div class="checkbox">
            <label>
                <input type="checkbox"> New Road Construction
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Widening and Resurfacing
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Resurfacing
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Bridge Construction
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Bridge Widening
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Traffic Operations
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Miscelianeous
            </label>
        </div>
        <br />
        <strong>Pricing Model:</strong>
        <div class="radio">
            <label>
                <input type="radio" name="pricingModelRadios" id="pricingModelRadios1" value="option1" checked>
                Straight Average
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pricingModelRadios" id="pricingModelRadios2" value="option1">
                Weighted Average
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pricingModelRadios" id="pricingModelRadios3" value="option1">
                DQE Formula
            </label>
        </div>
    </div>
    <div class="col-lg-4">
        <strong>Area:</strong>
        <div class="radio">
            <label>
                <input type="radio" name="areaRadios" id="areaRadios1" value="option1" checked>
                Statewide
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="areaRadios" id="areaRadios1" value="option1">
                Market Area
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="areaRadios" id="areaRadios1" value="option1">
                County
            </label>
        </div>
        <i class="text-warning">Need ability to select multiple market areas or counties</i>
        <br />
        <br />
        <strong>Bidders:</strong>
        <div class="radio">
            <label>
                <input type="radio" name="biddersRadios" id="biddersRadios1" value="option1" checked>
                All
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="biddersRadios" id="biddersRadios1" value="option1">
                Awarded / Low Only
            </label>
        </div>
    </div>
</div>