<div ng-show="estimate != undefined && estimate != null">
    <div ng-if="estimate.estimateProject && !estimate.estimateProposal">
        <div class="row">
            <div class="col-lg-10">
                <h3>
                    Project:&nbsp;{{estimate.project.number}}
                </h3>
            </div>
            <div class="col-lg-2">
                <h4>
                    Estimate Total: &nbsp;{{getProjectTotal() | currency}}
                </h4>
            </div>
        </div>    
    </div>
    <div ng-if="estimate.estimateProposal && !estimate.estimateProject">
        <div class="row">
            <div class="col-lg-10">
                <h3>
                    Proposal:&nbsp;{{estimate.proposal.number}}
                </h3>
            </div>
            <div class="col-lg-2">
                <h4>
                    Estimate Total: &nbsp;{{getTotal() | currency}}
                </h4>
            </div>
        </div>
    </div>
    <div ng-if="estimate.estimateProposal && estimate.estimateProject">
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Proposal:&nbsp;{{estimate.proposal.number}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Description:&nbsp;{{estimate.proposal.description}}  
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary" ng-click="loadProposal()">Estimate Proposal</button>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>
                    Project:&nbsp;{{estimate.project.number}}
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                Description:&nbsp;{{estimate.project.description}}
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary" ng-click="loadProject()">Estimate Project</button>
            </div>
        </div>
    </div>

    <div ng-if="estimate.estimateProject && !estimate.estimateProposal">
        <div class="row" ng-repeat="set in estimate.sets">
            <div class="col-lg-12">
                <h3>
                    <a href="" ng-click="set.isCollapsed = !set.isCollapsed">{{(set.id == '' ? 'Categories' : 'Alternate Set')}}:&nbsp;{{set.id + set.member}}</a>
                </h3>
                <div>
                    Set Total: &nbsp;{{getSetTotal(set) | currency}}
                </div>
                <div collapse="set.isCollapsed">
                    <div class="row" ng-repeat="group in set.groups">
                        <div class="col-lg-12">
                            <div>
                                <h4>
                                    <a href="" ng-click="group.isCollapsed = !group.isCollapsed">Category:&nbsp;{{group.description}}</a>
                                </h4>
                                <div>
                                    Alternate: {{group.alternate + group.alternateMember}} - Combine: {{group.combine}}    
                                </div>
                                <div>
                                    Category Total: &nbsp;{{getGroupTotal(set, group) | currency}}
                                </div>
                            </div>
                            <div collapse="group.isCollapsed">
                                <br />
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Pay Item</th>
                                            <th>Description</th>
                                            <th>Combine</th>
                                            <th>Alternate</th>
                                            <th>Unit of Measure</th>
                                            <th>Contract Class</th>
                                            <th>Item Class</th>
                                            <th>Quantity</th>
                                            <th>Unit Price</th>
                                            <th>Line Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="payItem in group.payItems">
                                            <td>{{payItem.number}}</td>
                                            <td>{{payItem.description}}</td>
                                            <td>{{payItem.combine}}</td>
                                            <td>{{payItem.alternate + payItem.alternateMember}}</td>
                                            <td>{{payItem.unit}}</td>
                                            <td>{{payItem.contractClass}}</td>
                                            <td>{{payItem.itemClass}}</td>
                                            <td>{{payItem.quantity}}</td>
                                            <td><input type="text" class="form-control" ng-model="payItem.price" ng-change="calculateTotals()" /></td>
                                            <td>{{payItem.quantity * payItem.price | currency}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <hr />  
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-primary" ng-click="saveEstimate()">Submit</button>
            </div>
        </div>
    </div>
       
    <div ng-if="estimate.estimateProposal && !estimate.estimateProject">
        <div class="row" ng-repeat="group in estimate.groups">
            <div class="col-lg-12">
                <div>
                    <h4>
                        <a href="" ng-click="group.isCollapsed = !group.isCollapsed">Estimate Group:&nbsp;{{group.description}}</a>
                    </h4>
                </div>
                <div collapse="group.isCollapsed">
                    <br />
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Pay Item</th>
                                <th>Description</th>
                                <th>Unit of Measure</th>
                                <th>Contract Class</th>
                                <th>Item Class</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Line Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="payItem in group.payItems">
                                <td>{{payItem.number}}</td>
                                <td>{{payItem.description}}</td>
                                <td>{{payItem.unit}}</td>
                                <td>{{payItem.contractClass}}</td>
                                <td>{{payItem.itemClass}}</td>
                                <td>{{payItem.quantity}}</td>
                                <td><input type="text" class="form-control" ng-model="payItem.price" /></td>
                                <td>{{payItem.quantity * payItem.price | currency}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-primary" ng-click="saveEstimate()">Submit</button>
            </div>
        </div>
    </div>

</div>
