<div class="row">
    <div class="col-lg-6">
        <table class="table table-bordered table-condensed">
            <thead>
            <tr>
                <td></td>
                <td>Project</td>
                <td>Proposal</td>
                <td>Owner</td>
            </tr>
                <tr>
                    <td>
                        Filters:&nbsp;&nbsp;
                        <a href="" title="Click to apply the current filters" ng-click="filterItems()">Apply</a>&nbsp;&nbsp;
                        <a href="" title="Click to clear the current filters" ng-click="clearAllFilters()">Clear</a>
                    </td>
                    <td><input class="form-control" title="Filter project" ng-model="filter.number" /></td>
                    <td><input class="form-control" title="Filter proposal" ng-model="filter.proposal"/></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in filteredItems">
                <td></td>
                <td>
                    <a href="#/home_project/{{project.number}}" title="Click to view project {{project.number}}">{{project.number}}</a>
                </td>
                <td>
                    <a href="#/home_proposal/{{project.proposal}}" title="Click to view proposal {{project.proposal}}">{{project.proposal}}</a>
                </td>
                <td>{{project.owner}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>