<div class="row">
    <div class="col-lg-4">
        <input type="text" ng-model="selected" placeholder="Enter a user name" typeahead-min-length="3" typeahead-wait-ms="500" typeahead="user as user.fullName for user in getUsers($viewValue)" typeahead-editable="false" typeahead-on-select="setDistrict()" class="form-control">
    </div>
    <div class="col-lg-2">
        <select class="form-control" ng-model="district">
            <option>CO</option>
            <option>D1</option>
            <option>D2</option>
            <option>D3</option>
            <option>D4</option>
            <option>D5</option>
            <option>D6</option>
            <option>D7</option>
            <option>TP</option>
        </select>
    </div>
    <div class="col-lg-2" ng-show="district == 'CO'">
        <select class="form-control" ng-model="role">
            <option value="2">System Administrator</option>
            <option value="4">Pay Item Administrator</option>
            <option value="5">Cost-Based Template Administrator</option>
        </select>
    </div>
    <div class="col-lg-2" ng-show="district.startsWith('D') || district == 'TP'">
        <select class="form-control" ng-model="role">
            <option value="3">District Administrator</option>
            <option value="6">Estimator</option>
        </select>
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary" ng-click="postUser()" ng-disabled="isSubmitUserDisabled()">Submit</button>
        <button class="btn btn-default" ng-click="initializeEditForm()">Reset</button>
    </div>
</div>